Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

fix(proxmox): require GPT-5.6 production models
  deploy/proxmox/render_config.py
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

chore(models): restore catalog lockstep
  infra/litellm-config.yaml
  tests/unit/test_prompt_budget.py
Due: check-banned

fix(deploy): harden ingestion and chat accounting
  Dockerfile
  deploy/proxmox/start-runtime.sh
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  server/api/chat.py
  server/chat/handler.py
  server/observability/costing.py
  tests/api/test_chat_usage_propagation.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): harden pve1 capacity and indexing
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/host-capacity-guard.sh
  deploy/proxmox/ragweld-capacity-guard.service
  deploy/proxmox/ragweld-capacity-guard.timer
  deploy/proxmox/ragweld-thinpool.profile
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  server/api/index.py
  server/indexing/text_extractors.py
  tests/api/test_index_batch_parallelism.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_text_extractors.py
Due: check-banned

docs(ops): publish pve1 handoff and agent context
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/exec-plans/active/handoff-2026-08-28-pve1-fresh-agent.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
Due: none

docs(ops): capture final watchdog review
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
Due: none

fix(deploy): add temporary dtmont ingress
  deploy/proxmox/Caddyfile
  deploy/proxmox/authelia/configuration.yml
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(docs): harden autopilot patch generation
  .github/workflows/docs-automation.yml
  scripts/docs_ai/README.md
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

docs(ops): record final pve1 execution evidence
  docs/exec-plans/active/handoff-2026-08-28-pve1-fresh-agent.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
Due: none

docs(deploy): record final Mac evacuation delta
  docs/exec-plans/active/handoff-2026-08-28-pve1-fresh-agent.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
Due: none

fix(deploy): budget reasoning-capable chat output
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(config): preserve production chat budget
  server/services/config_store.py
  tests/unit/test_config_reality.py
Due: check-banned

docs(deploy): record live chat fix forward
  docs/exec-plans/active/handoff-2026-08-28-pve1-fresh-agent.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
Due: none

fix(deploy): increase synthetic reasoning budget
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

chore(models): regenerate LiteLLM catalog
  infra/litellm-config.yaml
Due: none

fix(deploy): unify long-form reasoning budget
  deploy/proxmox/render_config.py
  server/models/runtime_gateway.py
  tests/unit/test_gateway_config_contract.py
  tests/unit/test_proxmox_deployment_contract.py
Due: validate-types, check-banned

fix(observability): restore dashboards and traces
  deploy/proxmox/Caddyfile
  deploy/proxmox/authelia/configuration.yml
  deploy/proxmox/docker-compose.yml
  deploy/proxmox/render_config.py
  server/main.py
  server/models/tribrid_config_model.py
  server/services/traces.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_trace_store.py
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(docs): keep fenced docs content inside autopilot patches
  scripts/docs_ai/generate_docs_from_diff.py
  tests/unit/test_generate_docs_from_diff.py
Due: check-banned

chore(claude): drop project prompt-router and Stop verify hooks
  .claude/settings.json
Due: none

fix(docs): land autopilot pages per file and repair rejected hunks
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

feat(docs): generate real architecture diagrams and repair links before strict build
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_architecture_diagrams.py
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  tests/unit/test_generate_architecture_diagrams.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

feat(graph): AST code graph for code corpora (opt-in, tree-sitter)
  data/glossary.json
  server/api/index.py
  server/indexing/code_graph.py
  server/models/tribrid_config_model.py
  tests/unit/test_code_graph.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(docs): repair rejected autopilot pages by whole-page re-emission
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  tests/unit/test_generate_docs_from_diff.py
Due: check-banned

feat(chat): add opt-in grounded web search
  server/api/chat.py
  server/chat/generation.py
  server/chat/handler.py
  server/models/tribrid_config_model.py
  server/services/config_store.py
  tests/api/test_chat_endpoints.py
  tests/api/test_chat_usage_propagation.py
  tests/unit/test_chat_web_contract.py
  tests/unit/test_config_store.py
Due: validate-types, check-banned

fix(observability): reconcile production runtime scope
  deploy/proxmox/Caddyfile
  server/services/config_store.py
  server/services/traces.py
  tests/unit/test_config_store.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_trace_store.py
Due: check-banned

feat(chat): expose web grounding in the workbench
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/SourceDropdown.tsx
  web/src/components/Chat/SourceList.tsx
  web/src/components/Chat/chatSessions.ts
  web/src/components/Chat/chatTransport.ts
  web/src/types/generated.ts
  web/tests/e2e/gateway/model_picker.spec.ts
Due: check-banned

test(proxmox): assert live auth issuer
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(graph): defer cross-file code-graph edges; never stub entity nodes
  server/api/index.py
  server/indexing/code_graph.py
  tests/unit/test_code_graph.py
Due: check-banned

fix(indexing-ui): show index runs started outside this tab
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(graph): let entity routes address code-graph ids that contain slashes
  server/api/graph.py
  tests/unit/test_graph_routes_accept_slash_ids.py
Due: check-banned

fix(chat): persist GLM default selection
  deploy/proxmox/render_config.py
  tests/unit/test_config_store.py
  tests/unit/test_proxmox_deployment_contract.py
  web/src/components/Chat/ChatInterface.tsx
  web/tests/e2e/gateway/model_persistence.spec.ts
Due: check-banned

fix(deploy): preserve rendered config ownership
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): harden atomic config replacement
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

docs(research): how advanced RAG engines handle legacy engineering schematics
  docs/exec-plans/active/multimodal-schematics-research-2026-08-29.md
Due: none

fix(viewer): explain auth-expired document loads; pin execution location rules
  AGENTS.md
  CLAUDE.md
  web/src/api/documents.ts
  web/src/components/Documents/DocumentViewer.tsx
Due: check-banned

fix(viewer): explain auth-expired document loads; pin execution location rules (#87)
  AGENTS.md
  CLAUDE.md
  web/src/api/documents.ts
  web/src/components/Documents/DocumentViewer.tsx
Due: check-banned

fix(viewer): keep 403 as access denied; point AGENTS.md at CLAUDE.md
  AGENTS.md
  web/src/api/documents.ts
Due: check-banned

fix(viewer): keep 403 as access denied; point AGENTS.md at CLAUDE.md (#88)
  AGENTS.md
  web/src/api/documents.ts
Due: check-banned

docs(spec): figure chunks — multimodal ingestion Phase 1 design
  docs/superpowers/specs/2026-08-29-figure-chunks-design.md
Due: none

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
