Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

docs: add recovery runtime foundation plan
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
Due: none

refactor(runtime): make local stack host-owned
  README.md
  data/glossary.json
  docker-compose.yml
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  infra/docker-compose.dev.yml
  infra/docker-compose.observability.yml
  scripts/automation_bootstrap.sh
  scripts/check_banned.py
  scripts/generate_types.py
  server/api/docker.py
  server/models/tribrid_config_model.py
  start.sh
  tests/api/test_dev_stack_endpoints.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  web/public/glossary.json
  web/src/api/docker.ts
  web/src/components/Dashboard/SystemStatusSubtab.tsx
  web/src/stores/useDockerStore.ts
  web/src/styles/micro-interactions.css
  web/src/types/generated.ts
  web/vite.config.ts
Due: validate-types, check-banned

test(runtime): make service requirements explicit
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  pyproject.toml
  scripts/check_banned.py
  scripts/test_integration.sh
  server/main.py
  tests/api/test_answer_always_responds_without_llm.py
  tests/api/test_config_endpoints.py
  tests/api/test_eval_analyze_comparison_requires_llm.py
  tests/api/test_eval_analyze_comparison_routing_prefers_openai.py
  tests/api/test_feedback_endpoints.py
  tests/api/test_graph_endpoints.py
  tests/api/test_health_endpoints.py
  tests/api/test_lineage_endpoints.py
  tests/api/test_observability_endpoints.py
  tests/api/test_promotion_lineage.py
  tests/api/test_prompts_endpoints.py
  tests/api/test_search_endpoints.py
  tests/api/test_semantic_cache_endpoints.py
  tests/api/test_stream_feedback_triplet_linkage.py
  tests/api/test_triplet_mining_from_scoped_feedback.py
  tests/conftest.py
  tests/integration/test_neo4j_live.py
  tests/integration/test_pg_search_bm25.py
  tests/service_requirements.py
  tests/unit/test_postgres.py
  tests/unit/test_runtime_launch_contract.py
  tests/unit/test_service_requirements.py
Due: check-banned

fix(types): validate generated contracts without false green
  scripts/generate_types.py
  scripts/validate_types.py
  server/models/tribrid_config_model.py
  tests/unit/test_validate_types.py
Due: validate-types, check-banned

refactor(web): remove dead card type aliases
  web/src/stores/index.ts
  web/src/stores/useChunkSummariesStore.ts
  web/src/types/cards.ts
  web/src/types/chunk_summaries.ts
Due: check-banned

refactor(web): remove obsolete evaluation and service islands
  docs/exec-plans/active/docs-autopilot-expansion.md
  scripts/docs_ai/generate_docs_from_diff.py
  spec/frontend/components_eval.yaml
  spec/frontend/tabs.yaml
  web/src/components/Evaluation/EvaluationRunner.tsx
  web/src/components/Evaluation/FeedbackPanel.tsx
  web/src/components/Evaluation/HistoryViewer.tsx
  web/src/components/tabs/EvaluationTab.tsx
  web/src/hooks/index.ts
  web/src/hooks/useEvalHistory.ts
  web/src/hooks/useEvaluation.ts
  web/src/services/EvaluationService.ts
  web/src/services/IndexProfilesService.ts
  web/src/services/IndexingService.ts
  web/src/services/RAGService.ts
Due: check-banned

fix(runtime): scope Docker control to Ragweld
  data/glossary.json
  docker-compose.yml
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  infra/docker-compose.observability.yml
  infra/promtail-config.yml
  scripts/generate_types.py
  server/api/docker.py
  server/models/tribrid_config_model.py
  tests/api/test_docker_endpoints.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(web): scope Docker controls to Ragweld services
  docs/exec-plans/active/docs-autopilot-expansion.md
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
  spec/frontend/api_client.yaml
  spec/frontend/stores.yaml
  web/src/api/dashboard.ts
  web/src/api/docker.ts
  web/src/components/Dashboard/SystemStatusSubtab.tsx
  web/src/components/Docker/ContainerCard.tsx
  web/src/components/Docker/DockerContainerCard.tsx
  web/src/components/DockerContainer.tsx
  web/src/components/DockerStatusCard.tsx
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/tabs/InfrastructureTab.tsx
  web/src/components/ui/EmbeddingMismatchWarning.tsx
  web/src/config/dockCatalog.ts
  web/src/config/routes.ts
  web/src/pages/Docker.tsx
  web/src/stores/useDockerStore.ts
Due: check-banned

fix(dev): make clean-start runtime deterministic
  start.sh
  tests/service_requirements.py
  tests/unit/test_runtime_launch_contract.py
  tests/unit/test_service_requirements.py
  web/src/api/dashboard.ts
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/SystemStatusSubtab.tsx
Due: check-banned

fix(observability): align live namespaced stack
  README.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/observability-online-slice.md
  infra/docker-compose.observability.yml
  infra/tempo.yaml
  server/api/docker.py
  server/models/tribrid_config_model.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  web/src/components/Admin/IntegrationsSubtab.tsx
  web/src/components/DevTools/Integrations.tsx
  web/src/components/Grafana/GrafanaConfig.tsx
  web/src/components/Grafana/GrafanaDashboard.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor(web): remove global state compatibility hook
  web/src/hooks/index.ts
  web/src/hooks/useGlobalState.ts
Due: check-banned

refactor(web): remove unmounted status panels
  web/src/components/Dashboard/MonitoringLogsPanel.tsx
  web/src/components/HealthStatusCard.tsx
Due: check-banned

fix(retrieval): release embedded Qdrant stores
  server/indexing/oss_retrieval_pilot.py
  tests/api/test_index_pilot_endpoints.py
Due: check-banned

fix(tooling): add Codex overlay emergency bypass
  docs/references/codex-agent-teams.md
  scripts/install_codex_agent_teams.sh
  tests/unit/test_team_bus_cli.py
Due: check-banned

refactor(web): remove obsolete chunk summary island
  spec/frontend/components_rag.yaml
  spec/frontend/components_ui.yaml
  spec/frontend/hooks.yaml
  spec/frontend/types.yaml
  tests/unit/test_specs_parse.py
  web/src/components/ChunkSummary/ChunkSummaryBuilder.tsx
  web/src/components/ChunkSummary/ChunkSummaryDisplay.tsx
  web/src/hooks/index.ts
  web/src/hooks/useChunkSummaries.ts
  web/src/stores/index.ts
  web/src/stores/useChunkSummariesStore.ts
Due: check-banned

fix(observability): make live health signals truthful
  docker-compose.yml
  infra/grafana/provisioning/alerting/.gitkeep
  infra/grafana/provisioning/dashboards/eval-benchmark-prompt-regressions.json
  infra/grafana/provisioning/notifiers/.gitkeep
  infra/grafana/provisioning/plugins/.gitkeep
  infra/prometheus.yml
  infra/tempo.yaml
  server/observability/catalog.py
  tests/unit/test_grafana_observability_catalog.py
  tests/unit/test_runtime_launch_contract.py
  web/src/components/Grafana/dashboardPresets.ts
Due: check-banned

fix(runtime): add owned start stop reset lifecycle
  .env.example
  .gitignore
  README.md
  docker-compose.yml
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  playwright.config.ts
  playwright.exhaustive.config.ts
  reset-data.sh
  scripts/acceptance_epstein.sh
  scripts/automation_bootstrap.sh
  scripts/docs_ai/docs_prompt_base.md
  scripts/quick_setup.py
  scripts/runtime_lifecycle.sh
  server/api/docker.py
  server/models/tribrid_config_model.py
  start.sh
  stop.sh
  tests/unit/test_runtime_launch_contract.py
  tests/unit/test_runtime_lifecycle.py
  tribrid_config.json
  web/src/api/client.ts
  web/src/hooks/useAPI.ts
  web/src/stores/useRepoStore.ts
  web/src/types/generated.ts
  web/test-dev-status.html
  web/tests/e2e/exhaustive/README.md
  web/tests/e2e/exhaustive/chat_reliability.spec.ts
  web/tests/e2e/exhaustive/harness.ts
  web/vite.config.ts
Due: validate-types, check-banned

refactor(config): remove corpus-specific defaults
  .codex_tmp_ui_check.png
  README.md
  data/models.json
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  models/learning-reranker-tribrid/adapter_config.json
  models/learning-reranker-tribrid/tribrid_reranker_manifest.json
  scripts/acceptance_epstein.sh
  scripts/automation_bootstrap.sh
  scripts/split_epstein_csv.py
  server/models/tribrid_config_model.py
  tests/integration/test_pg_search_bm25.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_synthetic_sdkit_provider.py
  tests/unit/test_synthetic_storage_compat.py
  tribrid_config.json
  web/public/models.json
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(api): report dependency outages honestly
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  server/api/config.py
  server/api/dependency_errors.py
  server/api/feedback.py
  server/api/graph.py
  server/api/health.py
  server/api/lineage.py
  server/api/repos.py
  server/api/search.py
  server/dependency_errors.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/services/answer_service.py
  tests/api/test_dependency_outage_contract.py
  tests/unit/test_dependency_errors.py
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor(ui): remove obsolete glossary island
  spec/frontend/components_dashboard.yaml
  web/src/components/Dashboard/HelpGlossary.tsx
Due: check-banned

refactor(ui): remove obsolete index stats island
  spec/frontend/components_rag.yaml
  web/src/components/RAG/IndexStatsPanel.tsx
Due: check-banned

refactor(ui): remove obsolete provider card
  web/src/components/RAG/ProviderCard.tsx
Due: check-banned

refactor(ui): remove orphaned notification renderer
  web/src/components/Notification.tsx
Due: check-banned

test(runtime): isolate lifecycle metadata
  tests/unit/test_runtime_launch_contract.py
  tests/unit/test_runtime_lifecycle.py
Due: check-banned

refactor(reranker): remove MLX compatibility shim
  server/reranker/mlx_qwen3.py
  tests/unit/test_learning_backend_resolution.py
  tests/unit/test_manifest_backend_gating.py
  tests/unit/test_mlx_lora_injection.py
Due: check-banned

refactor(retrieval): remove unused retriever injection layer
  scripts/benchmark_perf.py
  server/api/chat.py
  server/api/config.py
  server/api/eval.py
  server/api/search.py
  server/mcp/tools.py
  server/retrieval/__init__.py
  server/retrieval/fusion.py
  server/retrieval/graph.py
  server/retrieval/sparse.py
  server/retrieval/vector.py
  tests/unit/test_fusion.py
  tests/unit/test_sparse.py
Due: check-banned

refactor(chat): remove dead PydanticAI pipeline
  pyproject.toml
  server/services/rag.py
  tests/api/test_chat_endpoints.py
  uv.lock
Due: check-banned

refactor(ui): remove obsolete DevTools island
  web/src/components/DevTools/Debug.tsx
  web/src/components/DevTools/Editor.tsx
  web/src/components/DevTools/Integrations.tsx
  web/src/components/DevTools/Reranker.tsx
  web/src/components/DevTools/Testing.tsx
  web/src/components/DevTools/index.ts
Due: check-banned

refactor(ui): remove obsolete Analytics views
  web/src/components/Analytics/Cost.tsx
  web/src/components/Analytics/Performance.tsx
  web/src/components/Analytics/Tracing.tsx
  web/src/components/Analytics/Usage.tsx
  web/src/components/Analytics/index.ts
Due: check-banned

refactor(ui): remove unused shimmer progress bar
  web/src/components/ui/ProgressBarWithShimmer.tsx
  web/src/components/ui/index.ts
Due: check-banned

refactor(models): remove unused compatibility barrel
  server/models/__init__.py
  server/models/dataset.py
  server/models/repo.py
  tests/unit/test_model_exports.py
Due: validate-types, check-banned

refactor(ui): remove unused primitive barrel
  spec/frontend/components_ui.yaml
  web/src/ARCHITECTURE.md
  web/src/components/ui/ProgressBar.tsx
  web/src/components/ui/SkeletonLoader.tsx
  web/src/components/ui/index.ts
Due: check-banned

refactor(config): remove unused eval category helper
  server/models/tribrid_config_model.py
Due: validate-types, check-banned

refactor(deps): remove unused VoyageAI SDK
  pyproject.toml
  uv.lock
Due: none

refactor(indexing): remove obsolete AST debug tool
  pyproject.toml
  scripts/debug_ast.py
  uv.lock
Due: check-banned

refactor(web): remove unused motion dependency
  web/package-lock.json
  web/package.json
Due: none

refactor(api): remove metrics compatibility alias
  docs/references/contract-bundle/openapi.json
  server/api/health.py
  spec/config_reality_map.json
  tests/api/test_metrics_route_contract.py
Due: check-banned

refactor(api): remove eval run item aliases
  docs/references/contract-bundle/openapi.json
  server/api/eval.py
  tests/api/test_eval_route_contract.py
Due: check-banned

refactor(ui): remove unused feature barrels
  web/src/components/Chat/index.ts
  web/src/components/Grafana/index.ts
Due: check-banned

refactor(lineage): remove unused query exports
  server/lineage/__init__.py
  server/lineage/registry.py
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
