Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

chore(models): regenerate LiteLLM catalog
  infra/litellm-config.yaml
Due: none

docs(deploy): plan permanent pve1 rollout
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
  docs/superpowers/plans/2026-08-27-proxmox-runtime-foundation.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  docs/superpowers/specs/2026-08-27-pve1-personal-deployment-design.md
Due: none

fix(runtime): allow explicitly disabled vllm readiness
  server/api/health.py
  tests/api/test_health_endpoints.py
Due: check-banned

test(runtime): tighten vllm readiness assertions
  tests/api/test_health_endpoints.py
Due: check-banned

test(runtime): keep vllm readiness coverage in default lane
  tests/api/test_health_endpoints.py
Due: check-banned

feat(deploy): render validated proxmox config
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): guard proxmox renderer output path
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

feat(deploy): add authenticated proxmox ingress
  .gitignore
  deploy/proxmox/Caddyfile
  deploy/proxmox/authelia/configuration.yml
  deploy/proxmox/docker-compose.yml
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): close proxmox auth secret seams
  deploy/proxmox/docker-compose.yml
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

feat(web): show secure ingress services
  server/api/docker.py
  tests/unit/test_runtime_launch_contract.py
  web/src/api/docker.ts
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
Due: check-banned

fix(web): mark secure ingress deployment-only
  tests/unit/test_runtime_launch_contract.py
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
Due: check-banned

fix(web): dedupe deployment-only guidance
  tests/unit/test_runtime_launch_contract.py
  web/src/components/Infrastructure/DockerSubtab.tsx
Due: check-banned

feat(deploy): add proxmox lifecycle ownership
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/ragweld.service
  deploy/proxmox/start-runtime.sh
  deploy/proxmox/stop-runtime.sh
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): align proxmox lifecycle credentials
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/docker-compose.yml
  deploy/proxmox/start-runtime.sh
  deploy/proxmox/stop-runtime.sh
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

feat(deploy): add scoped plex media bridge
  deploy/proxmox/plex/exports.ragweld
  deploy/proxmox/plex/nfs.conf
  deploy/proxmox/plex/srv-media.automount
  deploy/proxmox/plex/srv-media.mount
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(test): seed proxmox overlay contract env
  tests/unit/test_runtime_launch_contract.py
Due: check-banned

fix(deploy): keep plex media mount automounted
  deploy/proxmox/plex/srv-media.mount
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

chore(hooks): add stop_hook_active anti-loop guard to the Stop verifier
  .claude/hooks/verify-tribrid.sh
Due: none

fix(deploy): close watchdog findings before publication
  data/glossary.json
  deploy/proxmox/Caddyfile
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/docker-compose.yml
  deploy/proxmox/render_config.py
  deploy/proxmox/start-runtime.sh
  server/api/agent.py
  server/config_control_plane.py
  server/models/tribrid_config_model.py
  server/observability/runtime.py
  server/training/control_plane.py
  start.sh
  tests/api/test_config_control_plane_endpoints.py
  tests/api/test_observability_endpoints.py
  tests/unit/test_agent_training_control_plane.py
  tests/unit/test_observability_readiness_probes.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_runtime_launch_contract.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(observability): keep protected probes and local links truthful
  server/observability/status.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_observability_readiness_probes.py
  tribrid_config.json
Due: check-banned

fix(web): keep config controls usable on phones
  web/src/components/Admin/ConfigBasicsSubtab.tsx
  web/src/components/Admin/configControlPlane.tsx
  web/tests/e2e/exhaustive/admin_config_center_mobile.spec.ts
Due: check-banned

fix(mlops): fail closed and expose public links
  server/api/agent.py
  server/models/tribrid_config_model.py
  server/training/mlflow_client.py
  tests/api/test_agent_train_launch_boundaries.py
  tests/api/test_config_endpoints.py
  tests/unit/test_agent_training_control_plane.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_runtime_launch_contract.py
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/public_link_fields.spec.ts
Due: validate-types, check-banned

fix(web): keep public link controls readable and reachable
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/tests/e2e/exhaustive/public_link_fields.spec.ts
Due: check-banned

docs(deploy): record proxmox foundation evidence
  docs/exec-plans/active/frontend-browser-findings-2026-08-20.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-proxmox-runtime-foundation.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  docs/superpowers/specs/2026-08-27-pve1-personal-deployment-design.md
Due: none

fix(observability): publish public Langfuse links
  server/observability/status.py
  tests/api/test_observability_endpoints.py
Due: check-banned

fix(config): degrade readiness for deindexing corpora
  server/config_control_plane.py
  tests/api/test_config_control_plane_endpoints.py
Due: check-banned

fix(deploy): close final foundation review findings
  .env.example
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/start-runtime.sh
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

docs(deploy): record proxmox foundation closeout
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
Due: none

docs(deploy): sync published rollout readiness
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
Due: none

fix(deploy): keep plex media automount live
  deploy/proxmox/plex/srv-media.automount
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

docs(deploy): record plex rollback checkpoints
  docs/exec-plans/active/plex-return-to-pve-2026-08-27.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
Due: none

docs(homelab): record verified plex media bridge
  docs/exec-plans/active/plex-return-to-pve-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
Due: none

docs(homelab): record plex migration acceptance
  docs/exec-plans/active/plex-return-to-pve-2026-08-27.md
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
Due: none

docs(homelab): record local plex media return
  docs/exec-plans/active/plex-return-to-pve-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  docs/superpowers/specs/2026-08-27-pve1-personal-deployment-design.md
Due: none

docs(homelab): close plex hardware acceptance
  docs/exec-plans/active/plex-return-to-pve-2026-08-27.md
  docs/exec-plans/active/watchdog-proxmox-foundation-2026-08-28.md
  docs/superpowers/plans/2026-08-27-plex-return-to-pve.md
Due: none

docs(deploy): lock pve1 provisioning baseline
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
Due: none

docs(deploy): record lxc100 boundary acceptance
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
Due: none

docs(deploy): record lxc runtime bootstrap
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
Due: none

fix(proxmox): harden auth and flyte startup
  deploy/proxmox/authelia/configuration.yml
  deploy/proxmox/start-runtime.sh
  docker-compose.yml
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned
