Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

Make docs autopilot patch failure non-blocking @codex review
  .github/workflows/docs-automation.yml
Due: none

Make docs autopilot patch failure non-blocking @codex review (#71)
  .github/workflows/docs-automation.yml
Due: none

Scope docs autopilot soft fail @codex review
  .github/workflows/docs-automation.yml
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

Scope docs autopilot soft fail @codex review (#72)
  .github/workflows/docs-automation.yml
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

fix(docs): reset docs autopilot pipeline @codex review
  .github/workflows/ci.yml
  .github/workflows/docs-automation.yml
  AGENTS.md
  docs/references/index.md
  scripts/check_docs_ownership.py
  scripts/docs_ai/README.md
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  scripts/prompt_router.py
  tests/unit/test_check_docs_ownership.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_prompt_router.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

fix(docs): reset docs autopilot pipeline @codex review (#73)
  .github/workflows/ci.yml
  .github/workflows/docs-automation.yml
  AGENTS.md
  docs/references/index.md
  scripts/check_docs_ownership.py
  scripts/docs_ai/README.md
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  scripts/prompt_router.py
  tests/unit/test_check_docs_ownership.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_prompt_router.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

fix(web): clear apply-button save error on edit @codex review
  web/src/hooks/useApplyButton.ts
Due: check-banned

fix(web): clear apply-button save error on edit @codex review (#74)
  web/src/hooks/useApplyButton.ts
Due: check-banned

Tighten positioning guardrails @codex review
  AGENTS.md
  README.md
  docs/index.md
  docs/references/index.md
  docs/references/product-positioning.md
  scripts/docs_ai/README.md
  scripts/docs_ai/docs_prompt_base.md
  tests/unit/test_positioning_guardrails.py
  web/src/App.tsx
  web/src/components/tabs/StartTab.tsx
Due: check-banned

Tighten positioning guardrails @codex review (#75)
  AGENTS.md
  README.md
  docs/index.md
  docs/references/index.md
  docs/references/product-positioning.md
  scripts/docs_ai/README.md
  scripts/docs_ai/docs_prompt_base.md
  tests/unit/test_positioning_guardrails.py
  web/src/App.tsx
  web/src/components/tabs/StartTab.tsx
Due: check-banned

Fix positioning guard test @codex review
  tests/unit/test_positioning_guardrails.py
Due: check-banned

Fix positioning guard test @codex review (#76)
  tests/unit/test_positioning_guardrails.py
Due: check-banned

Fix post-merge backend CI for lineage/runtime ingest @codex review
  server/api/benchmark.py
  server/api/config.py
  server/api/eval.py
  server/api/lineage.py
  server/api/prompts.py
  server/chat/benchmark_runner.py
  server/codex_session_ingest.py
  server/lineage/registry.py
  server/retrieval/contracts.py
  server/synthetic/publish.py
Due: check-banned

Fix post-merge backend CI for lineage/runtime ingest @codex review (#78)
  server/api/benchmark.py
  server/api/config.py
  server/api/eval.py
  server/api/lineage.py
  server/api/prompts.py
  server/chat/benchmark_runner.py
  server/codex_session_ingest.py
  server/lineage/registry.py
  server/retrieval/contracts.py
  server/synthetic/publish.py
Due: check-banned

Fix runtime capability catalog metadata drift @codex review
  data/models.json
  web/public/models.json
Due: none

Fix runtime capability catalog metadata drift @codex review (#79)
  data/models.json
  web/public/models.json
Due: none

Add reranker observability and split chat seams @codex review
  docs/references/codex-session-ingest.md
  docs/references/index.md
  docs/references/post-index-dense-retrieval.md
  docs/references/reranker-observability.md
  infra/grafana/provisioning/dashboards/codex-session-ingest.json
  infra/grafana/provisioning/dashboards/reranker-training.json
  scripts/generate_types.py
  server/api/chat.py
  server/api/index.py
  server/api/reranker.py
  server/codex_session_ingest.py
  server/db/postgres.py
  server/indexing/embedder.py
  server/models/tribrid_config_model.py
  server/observability/metrics.py
  server/retrieval/cache.py
  server/retrieval/fusion.py
  server/retrieval/rerank.py
  tests/unit/test_codex_session_ingest.py
  tests/unit/test_config.py
  tests/unit/test_embedder.py
  tests/unit/test_index_post_dense_retrieval.py
  tests/unit/test_postgres.py
  tests/unit/test_reranker_observability.py
  web/src/components/Chat/ChatHistorySidebar.tsx
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ChatMessageThread.tsx
  web/src/components/Chat/chatSessions.ts
  web/src/components/Chat/chatTransport.ts
  web/src/components/Grafana/GrafanaConfig.tsx
  web/src/components/Grafana/GrafanaDashboard.tsx
  web/src/components/Grafana/dashboardPresets.ts
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RerankerTraining/StudioLogTerminal.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/services/RerankerTrainingService.ts
  web/src/styles/learning-studio.css
  web/src/types/generated.ts
Due: validate-types, check-banned

Add reranker observability and split chat seams (#80)
  docs/references/codex-session-ingest.md
  docs/references/index.md
  docs/references/post-index-dense-retrieval.md
  docs/references/reranker-observability.md
  infra/grafana/provisioning/dashboards/codex-session-ingest.json
  infra/grafana/provisioning/dashboards/reranker-training.json
  scripts/generate_types.py
  server/api/chat.py
  server/api/index.py
  server/api/reranker.py
  server/codex_session_ingest.py
  server/db/postgres.py
  server/indexing/embedder.py
  server/models/tribrid_config_model.py
  server/observability/metrics.py
  server/retrieval/cache.py
  server/retrieval/fusion.py
  server/retrieval/rerank.py
  tests/unit/test_codex_session_ingest.py
  tests/unit/test_config.py
  tests/unit/test_embedder.py
  tests/unit/test_index_post_dense_retrieval.py
  tests/unit/test_postgres.py
  tests/unit/test_reranker_observability.py
  web/src/components/Chat/ChatHistorySidebar.tsx
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ChatMessageThread.tsx
  web/src/components/Chat/chatSessions.ts
  web/src/components/Chat/chatTransport.ts
  web/src/components/Grafana/GrafanaConfig.tsx
  web/src/components/Grafana/GrafanaDashboard.tsx
  web/src/components/Grafana/dashboardPresets.ts
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RerankerTraining/StudioLogTerminal.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/services/RerankerTrainingService.ts
  web/src/styles/learning-studio.css
  web/src/types/generated.ts
Due: validate-types, check-banned

Fix reranker backend CI import bug @codex review
  server/api/reranker.py
Due: check-banned

Fix reranker backend CI import bug @codex review (#81)
  server/api/reranker.py
Due: check-banned

Fix Postgres embedding dimension backfill @codex review
  server/db/postgres.py
  tests/unit/test_postgres.py
Due: check-banned

Fix Postgres embedding dimension backfill @codex review (#82)
  server/db/postgres.py
  tests/unit/test_postgres.py
Due: check-banned

fix: make ui-proof automation reach the real gpt-5 gate
  docs/exec-plans/active/autopilot-status/ui-proof.md
  scripts/acceptance_epstein.sh
  scripts/automation_bootstrap.sh
  web/tmp_synthetic_acceptance.mjs
Due: none

Add manifest-backed eval adapter for materialized corpora
  docs/exec-plans/active/autopilot-status/eval-data.md
  server/synthetic/materialized_corpus.py
  server/synthetic/providers/internal_provider.py
  server/synthetic/providers/sdkit_provider.py
  server/synthetic/recipes.py
  tests/unit/test_synthetic_recipes_payloads.py
Due: check-banned

docs: add graph failure handoff addendum
  docs/exec-plans/active/oss-composition-kickoff-handoff-2026-03-25.md
Due: none

fix: show staged graphrag reindex state in graph tab
  web/src/components/RAG/GraphSubtab.tsx
Due: check-banned

feat: replace epstein synthetic corpus and official graphrag lane
  AGENTS.md
  CLAUDE.md
  docs/exec-plans/active/autopilot-status/eval-data.md
  docs/exec-plans/active/oss-composition-kickoff-handoff-2026-03-25.md
  pyproject.toml
  scripts/materialize_hf_epstein_emails.py
  server/api/eval.py
  server/api/index.py
  server/chat/benchmark_runner.py
  server/chat/generation.py
  server/indexing/official_graphrag.py
  server/models/tribrid_config_model.py
  server/synthetic/hf_epstein_emails.py
  server/synthetic/orchestrator.py
  server/synthetic/providers/internal_provider.py
  server/synthetic/providers/sdkit_provider.py
  server/synthetic/recipes.py
  tests/api/test_config_endpoints.py
  tests/api/test_lineage_endpoints.py
  tests/api/test_synthetic_endpoints.py
  tests/unit/test_config.py
  tests/unit/test_hf_epstein_emails.py
  tests/unit/test_index_semantic_kg_model_selection.py
  tests/unit/test_official_graphrag.py
  tests/unit/test_synthetic_sdkit_provider.py
  tests/unit/test_synthetic_seed_dataset_fallback.py
  tribrid_config.json
  uv.lock
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelPicker.tsx
  web/src/components/RAG/SyntheticLabSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

chore: ignore local agent and postgres state
  .gitignore
Due: none

fix(graph): complete official GraphRAG replacement
  docs/exec-plans/active/autopilot-status/eval-data.md
  scripts/materialize_hf_epstein_emails.py
  server/api/index.py
  server/db/neo4j.py
  server/indexing/__init__.py
  server/indexing/graph_builder.py
  server/indexing/official_graphrag.py
  server/observability/metrics.py
  server/synthetic/hf_epstein_emails.py
  tests/api/test_index_batch_parallelism.py
  tests/unit/test_graph_builder.py
  tests/unit/test_hf_epstein_emails.py
  tests/unit/test_neo4j_graph_stats.py
  tests/unit/test_official_graphrag.py
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

chore: regenerate contract bundle after recovery
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
Due: none

fix(synthetic): remove superseded internal recipe contract
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  server/models/tribrid_config_model.py
  server/synthetic/materialized_corpus.py
  server/synthetic/orchestrator.py
  tests/api/test_synthetic_endpoints.py
  tests/unit/test_synthetic_recipes_payloads.py
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor: remove unused placeholder modules
  server/indexing/__init__.py
  server/indexing/summarizer.py
  server/observability/alerts.py
  server/retrieval/__init__.py
  server/retrieval/learning.py
  server/services/dataset.py
  server/services/indexing.py
Due: check-banned

fix(models): keep runtime selection metadata authoritative
  .github/workflows/refresh-models-catalog.yml
  data/models.json
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/refresh_models_catalog.py
  server/api/index.py
  server/models/tribrid_config_model.py
  tests/unit/test_index_semantic_kg_model_selection.py
  tests/unit/test_refresh_models_catalog.py
  web/public/models.json
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelAssignments.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
