Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

rebrand: TriBridRAG → ragweld (UI header, tab title, README)
  README.md
  web/public/ragweld-wordmark.png
  web/src/App.tsx
Due: check-banned

Enhance Docker startup process and add new visualizer settings
  data/glossary.json
  docker-compose.yml
  models/learning-reranker-tribrid/adapter_config.json
  models/learning-reranker-tribrid/tribrid_reranker_manifest.json
  server/api/reranker.py
  server/models/tribrid_config_model.py
  server/training/mlx_qwen3_trainer.py
  server/training/reranker_trainer.py
  server/training/triplet_miner.py
  start.sh
  tests/api/test_reranker_train_endpoints.py
  tests/unit/test_mlx_grad_accum_contract.py
  tests/unit/test_reranker_trainer.py
  tests/unit/test_triplet_miner.py
  tribrid_config.json
  web/public/glossary.json
  web/src/api/config.ts
  web/src/api/docker.ts
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/SystemStatusSubtab.tsx
  web/src/components/RerankerTraining/NeuralVisualizerCore.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGL2.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGPU.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/styles/learning-studio.css
  web/src/types/generated.ts
  web/vite.config.ts
Due: validate-types, check-banned

updated models
  data/models.json
Due: none

Remove CI badge from README
  README.md
Due: none

chore: fix docs autopilot workflow validation @codex
  .github/workflows/docs-automation.yml
Due: none

fix: avoid OpenAI init at import time @codex
  server/services/rag.py
Due: check-banned

fix: avoid OpenAI model resolution without key @codex
  server/services/rag.py
Due: check-banned

docs: add next-agent handoff prompt @codex
  docs/exec-plans/active/handoff-next-agent.md
Due: none

refactor: enhance model catalog API and validation checks
  mkdocs/docs/models.md
  scripts/check_banned.py
  scripts/generate_types.py
  server/api/chat.py
  server/api/config.py
  server/api/index.py
  server/api/models.py
  server/models/tribrid_config_model.py
  tests/api/test_chat_models_endpoint.py
  tests/api/test_config_endpoints.py
  tests/api/test_index_cancel_stream_endpoints.py
  tests/api/test_models_endpoint.py
  web/public/models.json
  web/src/api/models.ts
  web/src/components/Admin/IntegrationsSubtab.tsx
  web/src/components/Admin/ModelCatalogPanel.tsx
  web/src/components/Benchmark/BenchmarkTab.tsx
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ModelPicker.tsx
  web/src/components/Dashboard/QuickActions.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelPicker.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/Sidepanel.tsx
  web/src/hooks/useIndexing.ts
  web/src/hooks/useModelFlows.ts
  web/src/hooks/useModels.ts
  web/src/services/CostService.ts
  web/src/services/ModelFlowsService.ts
  web/src/services/TerminalService.ts
  web/src/stores/useCostCalculatorStore.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

feat: enhance Colima resource management in start.sh
  start.sh
Due: none

feat: enhance retrieval configuration validation and logging
  .claude/settings.json
  data/glossary.json
  scripts/check_banned.py
  scripts/validate_retrieval_config_surface.py
  server/api/index.py
  server/db/postgres.py
  server/retrieval/fusion.py
  tests/unit/test_fusion.py
  tribrid_config.json
  web/public/glossary.json
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/IntentMatrixEditor.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/hooks/useConfig.ts
  web/src/stores/useConfigStore.ts
  web/src/types/generated.ts
Due: check-banned

feat: model selection architecture overhaul
  data/glossary.json
  scripts/generate_types.py
  server/api/config.py
  server/models/tribrid_config_model.py
  tests/unit/test_config_validation.py
  tests/unit/test_gen_backend.py
  tests/unit/test_generated_types.py
  tribrid_config.json
  web/public/glossary.json
  web/src/api/config.ts
  web/src/components/Admin/IntegrationsSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelAssignments.tsx
  web/src/components/RAG/ModelPicker.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/Sidepanel.tsx
  web/src/config/routes.ts
  web/src/hooks/index.ts
  web/src/hooks/useEmbeddingModel.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: address PR review — resilience, empty-index guard, union array type
  scripts/generate_types.py
  server/api/index.py
  server/retrieval/fusion.py
  web/src/types/generated.ts
Due: check-banned

feat: make web demo parity configurable and auto-sync ready
  .github/workflows/sync-ragweld.yml
  web/package-lock.json
  web/package.json
  web/src/components/Grafana/GrafanaConfig.tsx
  web/src/components/Grafana/GrafanaDashboard.tsx
  web/src/components/Navigation/TabRouter.tsx
  web/src/main.tsx
  web/src/mocks/browser.ts
  web/src/mocks/handlers.ts
  web/src/pages/GrafanaEmbed.tsx
  web/vite.config.ts
Due: check-banned

chore: carry forward pending workspace changes
  .github/workflows/refresh-models-catalog.yml
  docs/exec-plans/active/semantic-caching-initialization.md
  mkdocs/docs/models.md
  scripts/refresh_models_catalog.py
  scripts/validate_retrieval_config_surface.py
  server/api/search.py
  server/chat/generation.py
  server/chat/handler.py
  server/db/postgres.py
  server/observability/metrics.py
  server/retrieval/cache.py
  server/services/answer_service.py
  server/services/rag.py
  spec/backend/api_chat.yaml
  spec/backend/api_search.yaml
  tests/api/test_semantic_cache_endpoints.py
  tests/unit/test_refresh_models_catalog.py
  tribrid_config.json
  web/public/mockServiceWorker.js
  web/src/components/RAG/RetrievalSubtab.tsx
  web/vite.config.ts
Due: check-banned

fix: guard embedding mismatch using non-null vectors only
  server/api/index.py
  server/db/postgres.py
Due: check-banned

fix: address codex feedback and include pending workspace updates
  .github/workflows/ci.yml
  data/glossary.json
  mkdocs/docs/reference/config/indexing.md
  scripts/check_config_reality.py
  server/api/index.py
  server/api/reranker.py
  server/db/postgres.py
  server/indexing/chunker.py
  server/indexing/embedder.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/retrieval/rerank.py
  server/services/config_store.py
  spec/config_reality_map.json
  start.sh
  tests/unit/test_chunker.py
  tests/unit/test_config_reality.py
  tests/unit/test_embedder.py
  web/public/glossary.json
  web/src/components/Infrastructure/PathsSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/hooks/useEmbeddingModel.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: tighten semantic cache keys and resolve lint regressions
  server/api/index.py
  server/indexing/embedder.py
  server/retrieval/fusion.py
  tribrid_config.json
Due: check-banned

fix: address codex cache and config migration findings
  server/api/index.py
  server/retrieval/fusion.py
  server/services/config_store.py
Due: check-banned

fix: harden cache keys across backend, route, and index revisions
  server/api/index.py
  server/chat/handler.py
  server/db/postgres.py
  server/retrieval/fusion.py
  server/services/answer_service.py
Due: check-banned

fix: close remaining codex cache invalidation gaps
  server/api/index.py
  server/chat/handler.py
  server/db/postgres.py
  server/retrieval/fusion.py
Due: check-banned

fix: resolve codex feedback on routing and cache final-k
  server/chat/provider_router.py
  server/retrieval/fusion.py
  server/services/config_store.py
Due: check-banned

fix: align codex follow-up on metadata timing and dsn-aware cache keys
  server/api/index.py
  server/chat/provider_router.py
  server/retrieval/fusion.py
Due: check-banned

fix: address codex follow-up on cache probe and backend routing
  server/api/index.py
  server/chat/provider_router.py
  server/retrieval/fusion.py
Due: check-banned

fix: address codex cache and routing follow-ups
  server/chat/handler.py
  server/chat/provider_router.py
  server/retrieval/fusion.py
Due: check-banned

fix: stabilize openai backend routing intent detection
  server/chat/provider_router.py
  tests/unit/test_provider_router.py
Due: check-banned

fix: preserve configured gen model on openrouter fallback
  server/chat/provider_router.py
  tests/unit/test_provider_router.py
Due: check-banned

fix: honor openai backend with cloud-aware fallback
  server/chat/provider_router.py
  tests/unit/test_provider_router.py
Due: check-banned

fix: avoid caching transient retrieval and empty-stream errors
  server/chat/handler.py
  server/retrieval/fusion.py
  tests/api/test_chat_endpoints.py
  tests/unit/test_fusion.py
Due: check-banned

fix: relax deterministic index guard and scope semantic dims
  server/api/index.py
  server/db/postgres.py
  tests/unit/test_config_reality.py
Due: check-banned

fix: disconnect temporary fingerprint postgres clients
  server/retrieval/fusion.py
Due: check-banned

fix: skip answer cache writes for empty stream fallbacks
  server/services/answer_service.py
  tests/api/test_search_endpoints.py
Due: check-banned

fix: clear semantic cache when indexing fails
  server/api/index.py
  tests/api/test_metrics_endpoint.py
Due: check-banned

fix: use corpus-scoped config for persisted index status
  server/api/index.py
  tests/api/test_index_dashboard_endpoints.py
Due: check-banned

test: drop mock-heavy cache tests to honor no-mocking policy
  tests/api/test_chat_endpoints.py
  tests/unit/test_fusion.py
Due: check-banned
