Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

refactor: make graph indexing policy truthful
  AGENTS.md
  CLAUDE.md
  data/glossary.json
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/api/index.py
  server/indexing/graph_policy.py
  server/indexing/official_graphrag.py
  server/models/tribrid_config_model.py
  tests/api/test_config_endpoints.py
  tests/api/test_index_batch_parallelism.py
  tests/integration/test_benchmark_grounding.py
  tests/integration/test_document_viewer_live.py
  tests/integration/test_eval_trace_mining.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_observability_live_queries.py
  tests/unit/test_config.py
  tests/unit/test_graph_policy.py
  tests/unit/test_index_status_costs.py
  tribrid_config.json
  web/public/glossary.json
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelAssignments.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/corpus_fixture.ts
  web/tests/e2e/exhaustive/curious_user_p1_fixes.spec.ts
  web/tests/e2e/exhaustive/graph_policy.spec.ts
  web/tests/e2e/exhaustive/harness_state_regressions.spec.ts
Due: validate-types, check-banned

feat: build graphs through the official pipeline
  AGENTS.md
  CLAUDE.md
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  scripts/test_integration.sh
  server/api/index.py
  server/db/neo4j.py
  server/indexing/code_graph.py
  server/indexing/graphrag_pipeline.py
  server/indexing/official_graphrag.py
  tests/api/test_graph_schema_endpoints.py
  tests/api/test_index_batch_parallelism.py
  tests/api/test_index_relative_corpus_root.py
  tests/integration/test_graph_communities_live.py
  tests/integration/test_graphrag_pipeline_live.py
  tests/integration/test_neo4j_live.py
  tests/unit/test_code_graph.py
  tests/unit/test_graphrag_pipeline.py
  tests/unit/test_official_graphrag.py
Due: check-banned

docs: plan cross-corpus GraphRAG replacement
  AGENTS.md
  CLAUDE.md
  docs/superpowers/plans/2026-08-31-neo4j-graphrag-cross-corpus.md
  docs/superpowers/specs/2026-08-31-neo4j-graphrag-cross-corpus-design.md
Due: none

build: upgrade Neo4j GraphRAG to 1.19
  AGENTS.md
  CLAUDE.md
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  pyproject.toml
  server/api/index.py
  server/db/neo4j.py
  server/indexing/code_graph.py
  server/indexing/official_graphrag.py
  tests/integration/test_graph_communities_live.py
  tests/unit/test_neo4j_graphrag_119_contract.py
  tests/unit/test_official_graphrag.py
  uv.lock
Due: check-banned

docs: specify honest cross-corpus graphrag
  docs/superpowers/specs/2026-08-31-neo4j-graphrag-cross-corpus-design.md
Due: none

feat: derive graph communities with GDS Leiden
  docker-compose.yml
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  pyproject.toml
  server/api/health.py
  server/api/index.py
  server/db/neo4j.py
  server/graph/__init__.py
  server/graph/communities.py
  server/models/tribrid_config_model.py
  server/services/config_store.py
  tests/integration/test_graph_communities_live.py
  tests/unit/test_gds_leiden_contract.py
  tests/unit/test_neo4j_graph_stats.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  uv.lock
  web/src/components/RAG/GraphSubtab.tsx
  web/src/hooks/useGraph.ts
  web/src/stores/useGraphStore.ts
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/graph_explorer.spec.ts
Due: validate-types, check-banned

fix: bound PDF graph schema sampling
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/api/index.py
  tests/api/test_graph_schema_endpoints.py
  tests/integration/test_graph_schema_proposal_live.py
Due: check-banned

fix(graph): let the approved schema own explorer entity and edge types
  server/db/neo4j.py
  server/models/tribrid_config_model.py
  tests/integration/test_graph_communities_live.py
  tests/unit/test_domain_models.py
  tests/unit/test_neo4j_graph_search.py
  web/src/components/RAG/GraphSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(graph): give every schema node type an identity and keep document text out of the graph
  server/db/neo4j.py
  server/indexing/graphrag_schema.py
  tests/unit/test_graphrag_schema.py
  tests/unit/test_neo4j_graph_search.py
  web/src/components/RAG/GraphSubtab.tsx
Due: check-banned

fix(indexing): show the live run in the run panel, not the previous one
  web/src/components/RAG/IndexingSubtab.tsx
  web/tests/e2e/exhaustive/graph_policy.spec.ts
Due: check-banned

fix(graph): key exact-match resolution on the policy's identity property
  server/api/index.py
  server/indexing/graphrag_pipeline.py
  tests/integration/test_graph_resolution_isolation_live.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

fix(graph): answer an unusable schema proposal with a typed 422
  server/api/index.py
  tests/integration/test_graph_schema_proposal_live.py
Due: check-banned

fix(graph): carry the operator's per-chunk timeout and reasoning effort into extraction
  server/api/index.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

feat(chat): disclose the graph leg's traversal accounting in the debug footer
  web/src/components/Chat/ChatInterface.tsx
  web/tests/e2e/exhaustive/chat_workbench.spec.ts
Due: check-banned

docs(graphrag): record the Task 8 live-drive defects, reviews, and evidence
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/superpowers/plans/2026-08-31-neo4j-graphrag-cross-corpus.md
  docs/superpowers/specs/2026-08-31-neo4j-graphrag-cross-corpus-design.md
Due: none

fix(graphrag): fold duplicate extracted node ids before the official writer
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/indexing/graphrag_pipeline.py
  tests/integration/test_graph_communities_live.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

fix(graphrag): key the promotion duplicate invariant on the policy's resolution property
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/db/neo4j.py
  server/indexing/graph_invariants.py
  tests/integration/test_graph_promotion_invariants_live.py
Due: check-banned

fix(graph-explorer): report provenance files and extracted properties for semantic entities
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/db/neo4j.py
  tests/integration/test_graph_communities_live.py
  web/src/components/RAG/GraphSubtab.tsx
  web/tests/e2e/exhaustive/graph_explorer.spec.ts
Due: check-banned

fix(graphrag): namespace the lexical Document writer id so it never collides with a code module
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/indexing/graphrag_pipeline.py
  server/indexing/official_graphrag.py
  tests/integration/test_graph_communities_live.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

chore(gate): close the full-suite leads found by the Task 8 gate
  infra/litellm-config.yaml
  server/indexing/graphrag_pipeline.py
  tests/integration/test_graphrag_pipeline_live.py
Due: check-banned

fix(graphrag): send the reasoning-effort knob only to OpenAI routes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/api/index.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

test(graphrag): default the live KG suites to the operator's Luna alias
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  tests/integration/test_graph_promotion_invariants_live.py
  tests/integration/test_graph_schema_proposal_live.py
  tests/integration/test_graphrag_pipeline_live.py
  tests/integration/test_index_promoted_lane.py
Due: check-banned

Revert "fix(graphrag): send the reasoning-effort knob only to OpenAI routes"
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  server/api/index.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

docs(graphrag): close the cross-corpus plan, spec, and Task 8 ledger
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
  docs/superpowers/plans/2026-08-31-neo4j-graphrag-cross-corpus.md
  docs/superpowers/specs/2026-08-31-neo4j-graphrag-cross-corpus-design.md
Due: none

docs(graphrag): record the follow-up session, drive findings, deploy, and gate evidence
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(web): chat mismatch notice and deep link, honest dashboard and deck, wizard, benchmark and studio lanes (D20, S6-S16)
  web/package.json
  web/src/App.tsx
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/AgentTraining/laneSummary.ts
  web/src/components/Benchmark/BenchmarkTab.tsx
  web/src/components/Benchmark/defaultSelection.ts
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/chatTransport.ts
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/StorageSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/Observability/OperatorDeck.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RAGSubtabs.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
  web/src/components/RAG/SyntheticCallout.tsx
  web/src/components/tabs/ChatTab.tsx
  web/src/components/tabs/RAGTab.tsx
  web/src/components/tabs/StartTab.tsx
  web/src/config/routes.ts
  web/src/config/subtabAliases.ts
  web/src/styles/learning-studio.css
  web/tests/e2e/exhaustive/benchmark_workbench.spec.ts
  web/tests/e2e/exhaustive/chat_corpus_scope.spec.ts
  web/tests/e2e/exhaustive/chat_reliability.spec.ts
  web/tests/e2e/exhaustive/curious_user_p1_fixes.spec.ts
  web/tests/e2e/exhaustive/dashboard_dead_controls.spec.ts
  web/tests/e2e/exhaustive/dirty_count_on_load.spec.ts
  web/tests/e2e/exhaustive/indexing_config_cards.spec.ts
  web/tests/e2e/exhaustive/learning_agent_lane.spec.ts
  web/tests/e2e/exhaustive/numberfield_migration.spec.ts
  web/tests/e2e/exhaustive/observability_deck.spec.ts
  web/tests/e2e/exhaustive/reranker_status.spec.ts
  web/tests/e2e/exhaustive/suite_config.ts
  web/tests/e2e/gateway/eval_data_lane.spec.ts
  web/tests/unit/benchmark_default_selection.test.ts
  web/tests/unit/learning_agent_lane_summary.test.ts
Due: check-banned

fix(api): honest dashboard storage, classified gateway failures, host-truth runtime lanes (S5, S9, S11, S14, S16)
  data/models.json
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  server/api/generation_errors.py
  server/api/health.py
  server/api/index.py
  server/api/observability.py
  server/api/runtime_capabilities.py
  server/chat/generation_failure.py
  server/chat/handler.py
  server/db/neo4j.py
  server/gateway_catalog.py
  server/models/tribrid_config_model.py
  server/runtime_capabilities.py
  server/training/control_plane.py
  tests/api/test_chat_requires_provider.py
  tests/api/test_index_dashboard_endpoints.py
  tests/api/test_observability_endpoints.py
  tests/integration/test_observability_live_queries.py
  tests/unit/test_agent_training_control_plane.py
  tests/unit/test_dashboard_storage_breakdown.py
  tests/unit/test_gateway_catalog.py
  tests/unit/test_generation_failure.py
  tests/unit/test_runtime_capabilities.py
  web/public/models.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(graphrag): measured KG time estimate, wired extraction prompt, reranker timeout (D13, D15, D19, D24)
  server/api/index.py
  server/config.py
  server/indexing/graphrag_pipeline.py
  server/models/index.py
  server/models/tribrid_config_model.py
  server/services/config_store.py
  tests/api/test_graph_schema_endpoints.py
  tests/unit/test_config_reality.py
  tests/unit/test_graphrag_pipeline.py
  tests/unit/test_index_estimate_semantic_kg.py
  web/src/types/generated.ts
Due: validate-types, check-banned

docs(graphrag): record the agents' late findings and the storage assertion fix
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

test(corpora): name every live-store test corpus with the reapable pytest_ prefix
  tests/api/test_graph_endpoints.py
  tests/api/test_graph_schema_endpoints.py
  tests/api/test_index_dashboard_endpoints.py
  tests/integration/test_document_viewer_live.py
  tests/integration/test_graphrag_pipeline_live.py
Due: check-banned

fix(graphrag): treat redaction markers as non-entities in the extraction template (D19)
  server/models/tribrid_config_model.py
Due: validate-types, check-banned

test(index): the promoted-lane storage assertion follows the unmeasured Neo4j size (S5)
  tests/integration/test_index_promoted_lane.py
Due: check-banned

refactor(graphrag): move the test-only lexical writer helper under tests (D23)
  scripts/docs_ai/bootstrap_docs.py
  scripts/docs_ai/generate_architecture_diagrams.py
  tests/integration/test_graph_communities_live.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_neo4j_live.py
  tests/official_graphrag.py
  tests/unit/test_official_graphrag.py
Due: check-banned

fix(graphrag): send reasoning effort in the upstream's own protocol (D25)
  server/api/index.py
  server/gateway_catalog.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  tests/unit/test_gateway_catalog.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

test(reaper): reap Neo4j and Qdrant residue of test corpora that lost their registry row (S1, S2)
  tests/api/test_index_relative_corpus_root.py
  tests/conftest.py
  tests/corpus_reaper.py
  tests/integration/test_corpus_reaper_live.py
  tests/integration/test_index_promoted_lane.py
  tests/service_requirements.py
  tests/unit/test_corpus_reaper_prefixes.py
Due: check-banned

chore(config): move the clean-start config to the new KG template and reranker timeout
  server/api/index.py
  server/indexing/graphrag_pipeline.py
  tests/unit/test_clean_start_defaults.py
  tribrid_config.json
Due: check-banned

fix(config): a corpus's embedding settings are its own contract in production mode (S18)
  server/services/config_store.py
  tests/unit/test_config_store.py
Due: check-banned

docs(graphrag): record the push, the S18 deploy, and the D25/S18 review verdict
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

test(graph): follow the reviewed-schema contract in the live pipeline test and the G1 explorer spec
  tests/integration/test_graphrag_pipeline_live.py
  web/tests/e2e/exhaustive/corpus_fixture.ts
  web/tests/e2e/exhaustive/curious_user_p1_fixes.spec.ts
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
