Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

docs: preserve historical model evidence @codex review
  scripts/docs_ai/docs_prompt_base.md
Due: none

fix(review): act on the wave's adversarial review
  docs/exec-plans/active/observability-chat-telemetry-2026-09-23.md
  server/chat/telemetry.py
  server/retrieval/gateway_reranker.py
  tests/unit/test_chat_metric_contract.py
  tests/unit/test_gateway_reranker.py
  tests/unit/test_runtime_launch_contract.py
  web/tests/e2e/gateway/model_picker.spec.ts
Due: check-banned

docs: identify reranker measurements as historical @codex review
  server/retrieval/gateway_reranker.py
Due: check-banned

fix(models,ci,docs): takeover audit of the latest-model catalog
  docs/jev-lint.md
  scripts/docs_ai/docs_prompt_base.md
  scripts/jev_lint.py
  tests/api/test_chat_endpoints.py
  tests/api/test_feedback_endpoints.py
  tests/integration/test_synthetic_source_sampling_live.py
  tests/test_jev_lint.py
  tests/unit/test_refresh_models_catalog.py
  tests/unit/test_reranker.py
  tests/unit/test_runtime_launch_contract.py
  web/tests/e2e/exhaustive/chat_stream_fixture.py
  web/tests/unit/chat_stream_controller.test.ts
  web/tests/unit/rum_core.test.ts
Due: check-banned

fix(ci): choose Jev scope per rule; never split a file-scoped declaration
  docs/jev-lint.md
  scripts/jev_lint.py
  tests/test_jev_lint.py
Due: check-banned

docs(source): anchor the dated reranker measurement and the synthetic judge in code
  server/gateway_reasoning.py
  server/models/tribrid_config_model.py
Due: validate-types, check-banned

ci: give Jev lint headroom for broad migrations
  .github/workflows/ci.yml
  docs/jev-lint.md
Due: none

fix(models,ci): refuse refreshes that drop a production alias; lint helpers with components
  docs/jev-lint.md
  scripts/jev_lint.py
  scripts/refresh_models_catalog.py
  tests/test_jev_lint.py
  tests/unit/test_refresh_models_catalog.py
Due: check-banned

test(deploy): read the secret mount's create_host_path from the compose file
  tests/unit/test_runtime_launch_contract.py
Due: check-banned

fix: harden production readiness and recovery
  deploy/proxmox/release_artifact.py
  deploy/proxmox/restore_drill.py
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/proxmox-release-recovery.md
  docs/superpowers/plans/2026-09-26-production-readiness.md
  server/api/chat.py
  server/api/health.py
  server/chat/generation.py
  server/chat/handler.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/services/config_store.py
  server/system_one/client.py
  tests/api/test_chat_endpoints.py
  tests/api/test_chat_lifecycle_telemetry.py
  tests/api/test_qdrant_readiness.py
  tests/fixtures/nasa_production_regressions.json
  tests/integration/test_config_scope_cache_refresh.py
  tests/integration/test_fusion_candidate_budgets.py
  tests/unit/test_generation_deadlines.py
  tests/unit/test_index_estimate_figures.py
  tests/unit/test_recovery_artifacts.py
  tests/unit/test_service_requirements.py
  tests/unit/test_system_one_deadlines.py
  tribrid_config.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: close production review and evaluation gaps
  deploy/proxmox/release_artifact.py
  deploy/proxmox/start-runtime.sh
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/proxmox-release-recovery.md
  docs/superpowers/plans/2026-09-26-production-readiness.md
  server/api/eval.py
  server/config.py
  server/evaluation/promptfoo_runner.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/retrieval/gateway_reranker.py
  tests/integration/test_chat_prompt_default_migration.py
  tests/integration/test_eval_failure_reporting.py
  tests/integration/test_fusion_candidate_budgets.py
  tests/unit/test_gateway_reranker_verdicts.py
  tests/unit/test_recovery_artifacts.py
  tribrid_config.json
Due: validate-types, check-banned

fix: reject private configuration rotation during release sealing
  deploy/proxmox/release_artifact.py
  tests/unit/test_recovery_artifacts.py
Due: check-banned

fix: report failed restore cleanup truthfully
  deploy/proxmox/restore_drill.py
  tests/unit/test_restore_drill.py
Due: check-banned

fix: commit chat terminal outcomes atomically with trace closure
  server/api/chat.py
  server/services/traces.py
  tests/api/test_chat_lifecycle_telemetry.py
Due: check-banned

fix: revalidate release images and config bindings before sealing
  deploy/proxmox/release_artifact.py
  tests/unit/test_recovery_artifacts.py
Due: check-banned

fix: validate restorable archive contents before sealing releases
  deploy/proxmox/release_artifact.py
  tests/unit/test_recovery_artifacts.py
Due: check-banned

fix: bind sealed recovery source to the complete committed tree
  deploy/proxmox/release_artifact.py
  tests/unit/test_recovery_artifacts.py
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
