Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

docs(graphrag): record the c4e73ca9 deploy and live verification
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

Block GPT-4 model execution across Ragweld @codex review
  README.md
  data/glossary.json
  data/models.json
  docs/exec-plans/active/gpt4-execution-retirement-2026-09-04.md
  infra/litellm-config.yaml
  scripts/docs_ai/generate_docs_from_diff.py
  server/chat/generation.py
  server/chat/provider_router.py
  server/evaluation/promptfoo_runner.py
  server/evaluation/ragas_runner.py
  server/gateway_catalog.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  server/indexing/text_extractors.py
  server/model_policy.py
  server/models/runtime_gateway.py
  server/models/tribrid_config_model.py
  tests/api/test_index_estimate_accuracy.py
  tests/api/test_reranker_status_endpoint.py
  tests/api/test_synthetic_endpoints.py
  tests/unit/test_eval_judge_budget.py
  tests/unit/test_gateway_catalog.py
  tests/unit/test_gateway_config_contract.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_model_policy.py
  tests/unit/test_prompt_budget.py
  tests/unit/test_provider_router.py
  tests/unit/test_refresh_models_catalog.py
  tribrid_config.json
  web/public/glossary.json
  web/public/models.json
  web/src/components/RAG/ModelPicker.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/harness.ts
  web/tests/e2e/exhaustive/lineage_alias_meta.spec.ts
  web/tests/e2e/exhaustive/model_policy.spec.ts
  web/tests/e2e/exhaustive/reranker_status.spec.ts
  web/tests/e2e/gateway/eval_data_lane.spec.ts
Due: validate-types, check-banned

Record live GPT-4 policy acceptance @codex review
  docs/exec-plans/active/gpt4-execution-retirement-2026-09-04.md
Due: none

Make indexing results compact and fix corpus recovery
  .github/workflows/ci.yml
  docs/exec-plans/active/graphrag-continuation-2026-09-04.md
  docs/exec-plans/active/graphrag-extraction-recovery-2026-09-05.md
  infra/grafana/provisioning/dashboards/cost-capacity.json
  scripts/docling_ci_models.json
  scripts/prepare_docling_ci.py
  server/api/index.py
  server/chat/prompt_budget.py
  server/indexing/graphrag_pipeline.py
  tests/integration/test_index_promoted_lane.py
  tests/unit/test_grafana_observability_catalog.py
  tests/unit/test_graphrag_census.py
  tests/unit/test_graphrag_pipeline.py
  tests/unit/test_prepare_docling_ci.py
  tests/unit/test_prompt_budget.py
  web/src/api/config.ts
  web/src/components/RAG/GraphSchemaReview.tsx
  web/src/components/RAG/IndexRunCosts.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/indexEstimateConsent.tsx
  web/src/components/RAG/indexRunStatus.ts
  web/src/components/tabs/StartTab.tsx
  web/src/components/ui/confirmDialog.tsx
  web/src/stores/useConfigStore.ts
  web/src/stores/useRepoStore.ts
  web/tests/e2e/exhaustive/figure_workflow.spec.ts
  web/tests/e2e/exhaustive/graph_ordering.spec.ts
  web/tests/e2e/exhaustive/graph_ordering_fixture.py
  web/tests/e2e/exhaustive/graph_policy.spec.ts
  web/tests/e2e/exhaustive/index_native_costs.spec.ts
  web/tests/e2e/exhaustive/indexing_index_now.spec.ts
  web/tests/e2e/exhaustive/indexing_run_report.spec.ts
  web/tests/e2e/exhaustive/indexing_wave2.spec.ts
  web/tests/unit/index_run_status.test.ts
Due: check-banned

test(models): enforce latest-only provider generations @codex review
  tests/unit/test_refresh_models_catalog.py
Due: check-banned

test(models): isolate replacement-policy regression @codex review
  .github/workflows/ci.yml
Due: none

Keep only current model generations @codex review
  .github/workflows/ci.yml
  scripts/refresh_models_catalog.py
Due: check-banned

test(deploy): require current routable defaults @codex review
  .github/workflows/ci.yml
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(deploy): route retired Terra defaults to GPT-6 Sol @codex review
  .github/workflows/ci.yml
  deploy/proxmox/render_config.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

chore(ci): restore repository gate @codex review
  .github/workflows/ci.yml
Due: none

test(models): migrate retained Luna consumers @codex review
  tests/service_requirements.py
  tests/unit/test_gateway_catalog.py
Due: check-banned

feat(observability): honest dashboards, Chat dashboard, Discord alerts, Caddy access log, Laya service
  deploy/proxmox/Caddyfile
  deploy/proxmox/docker-compose.yml
  deploy/proxmox/start-runtime.sh
  docker-compose.yml
  infra/alertmanager.yml
  infra/docker-compose.observability.yml
  infra/grafana/provisioning/dashboards/chat.json
  infra/grafana/provisioning/dashboards/codex-session-ingest.json
  infra/grafana/provisioning/dashboards/cost-capacity.json
  infra/grafana/provisioning/dashboards/frontend-rum.json
  infra/grafana/provisioning/dashboards/gateway-serving.json
  infra/grafana/provisioning/dashboards/oncall-overview.json
  infra/grafana/provisioning/dashboards/rag-metrics.json
  infra/grafana/provisioning/dashboards/training-workflow.json
  infra/grafana/provisioning/dashboards/tribrid_overview.json
  infra/laya/Dockerfile
  infra/laya/ragweld_laya_serve.py
  infra/laya/requirements.txt
  infra/litellm-config.yaml
  infra/prometheus-rules.yml
  infra/prometheus.yml
  infra/tempo.yaml
  scripts/check_grafana_queries.py
  scripts/runtime_lifecycle.sh
  server/api/docker.py
  server/api/health.py
  server/gateway_catalog.py
  server/observability/catalog.py
  start.sh
  stop.sh
  tests/api/test_health_endpoints.py
  tests/api/test_observability_endpoints.py
  tests/unit/test_gateway_catalog.py
  tests/unit/test_grafana_observability_catalog.py
  tests/unit/test_runtime_launch_contract.py
  web/src/api/docker.ts
  web/src/components/Grafana/dashboardPresets.ts
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/Navigation/HealthPill.tsx
Due: check-banned

docs(plans): pin HF-GPU reranker training; add observability + chat telemetry wave plan
  docs/exec-plans/active/observability-chat-telemetry-2026-09-23.md
  docs/exec-plans/tech-debt-tracker.md
Due: none

feat(contracts): typed eval locations, System One config, chat telemetry and feedback fields
  data/glossary.json
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  server/config_control_plane.py
  server/db/neo4j.py
  server/db/postgres.py
  server/models/eval.py
  server/models/synthetic.py
  server/models/system_one.py
  server/models/tribrid_config_model.py
  server/observability/metrics.py
  server/services/config_store.py
  spec/config_reality_map.json
  tribrid_config.json
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(chat): let the chat workbench fill the pane, expand, and resize (GUI-050)
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/chatPaneLayout.ts
  web/src/components/tabs/ChatTab.tsx
  web/src/styles/main.css
  web/tests/e2e/exhaustive/chat_workbench.spec.ts
  web/tests/e2e/exhaustive/legibility_dock.spec.ts
  web/tests/unit/chat_pane_layout.test.ts
Due: check-banned

fix(web): keep the Dock in sync with in-frame navigation; drop Chat dev copy
  web/src/App.tsx
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Dock/DockView.tsx
  web/src/components/Dock/EmbeddedDockNavigation.tsx
  web/tests/e2e/exhaustive/chat_reliability.spec.ts
  web/tests/e2e/exhaustive/legibility_dock.spec.ts
Due: check-banned

chore(lint,catalog): Jev semantic lint replaces ruff and check_banned; GPT-6 production defaults
  .claude/hooks/verify-tribrid.sh
  .claude/rules/testing.md
  .github/workflows/ci.yml
  .github/workflows/refresh-models-catalog.yml
  .jev-lint.json
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  deploy/proxmox/render_config.py
  docs/jev-lint.md
  pyproject.toml
  scripts/check_banned.py
  scripts/check_contract_integrity.py
  scripts/ci_local_full.sh
  scripts/jev_lint.py
  scripts/prompt_router.py
  scripts/ralph-ui-exhaustive/CODEX.md
  scripts/refresh_models_catalog.py
  tests/test_jev_lint.py
  tests/unit/test_check_banned_typescript_policy.py
  tests/unit/test_check_contract_integrity.py
  tests/unit/test_jev_policy_live.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_refresh_models_catalog.py
  uv.lock
  web/package.json
Due: check-banned

chore(docs): leave autopilot output untouched @codex review
  mkdocs/docs/indexing.md
  mkdocs/docs/operations/production_scope.md
Due: none

feat(alerts): Discord messages link each rule's Grafana dashboard
  infra/alertmanager.yml
  infra/prometheus-rules.yml
  tests/unit/test_runtime_launch_contract.py
Due: check-banned

fix(models): migrate preserved reranker and bounded vision @codex review
  data/models.json
  deploy/proxmox/render_config.py
  scripts/refresh_models_catalog.py
  tests/api/test_chat_models_endpoint.py
  tests/unit/test_eval_judge_budget.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_index_estimate_figures.py
  tests/unit/test_proxmox_deployment_contract.py
  tests/unit/test_refresh_models_catalog.py
  web/public/models.json
Due: check-banned

fix(web): gateway model picker says "Choose a model" when none is set
  web/src/components/Chat/ModelPicker.tsx
  web/tests/e2e/gateway/model_picker.spec.ts
Due: check-banned

fix(telemetry): count the first chat of each alias after a restart
  server/api/chat.py
  server/chat/telemetry.py
  server/observability/metrics.py
  tests/unit/test_chat_metric_contract.py
Due: check-banned

fix(models): parse latest Luna and update rollout smoke @codex review
  docs/superpowers/plans/2026-08-27-pve1-ragweld-rollout.md
  scripts/refresh_models_catalog.py
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(telemetry,grafana): no empty "unresolved" rows; show sub-cent chat spend
  infra/grafana/provisioning/dashboards/chat.json
  server/chat/telemetry.py
  tests/unit/test_chat_metric_contract.py
Due: check-banned

fix(models): prune blocked routes and fail closed reranker @codex review
  scripts/refresh_models_catalog.py
  tests/unit/test_refresh_models_catalog.py
Due: check-banned

ci: budget Jev for broad semantic migrations @codex review
  .github/workflows/ci.yml
Due: none

fix(ci): lint changed hunks with Jev @codex review
  .github/workflows/ci.yml
  scripts/jev_lint.py
  tests/test_jev_lint.py
Due: check-banned

fix(ci): distinguish Jev edits from context @codex review
  scripts/jev_lint.py
  tests/test_jev_lint.py
Due: check-banned

fix(ci): clarify allowed real HTTP test harness @codex review
  .jev-lint.json
Due: none

fix(ci): preserve semantic scope in Jev lint @codex review
  .jev-lint.json
  scripts/jev_lint.py
  tests/test_jev_lint.py
Due: check-banned

fix(models): preserve alternate reranker routes @codex review
  scripts/docs_ai/docs_prompt_base.md
  scripts/refresh_models_catalog.py
  tests/unit/test_refresh_models_catalog.py
Due: check-banned
