Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

refactor(web): remove unused utility dependencies
  web/package-lock.json
  web/package.json
Due: none

refactor(tooling): remove obsolete scaffold scripts
  scripts/mine_triplets.py
  scripts/seed_training_logs.py
  scripts/test_backend.py
Due: check-banned

refactor(deps): remove unused file and logging packages
  pyproject.toml
  uv.lock
Due: none

refactor(admin): remove unmounted legacy island
  docs/exec-plans/active/docs-autopilot-expansion.md
  scripts/docs_ai/bootstrap_docs.py
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
  web/src/api/webhooks.ts
  web/src/components/Admin/GeneralSubtab.tsx
  web/src/components/Admin/IntegrationsSubtab.tsx
  web/src/components/Admin/ModelCatalogPanel.tsx
  web/src/components/Admin/SecretsSubtab.tsx
  web/src/components/Analytics/CostEstimatorPanel.tsx
  web/src/components/Dock/DockPickerModal.tsx
  web/src/hooks/index.ts
  web/src/hooks/useCost.ts
  web/src/hooks/useMCPRag.ts
  web/src/hooks/useModelFlows.ts
  web/src/services/CostService.ts
  web/src/services/MCPRagService.ts
  web/src/services/ModelFlowsService.ts
Due: check-banned

refactor(graph): remove retired Neo4j mutation facade
  server/db/neo4j.py
  spec/backend/db_neo4j.yaml
  tests/integration/test_neo4j_live.py
Due: check-banned

refactor(ui): remove unused cost calculator store
  web/src/stores/index.ts
  web/src/stores/useCostCalculatorStore.ts
  web/src/styles/style.css
Due: check-banned

refactor(ml): remove no-op compatibility methods
  server/retrieval/rerank.py
  server/training/mlx_qwen3_agent_trainer.py
  spec/backend/retrieval_rerank.yaml
Due: check-banned

docs(runtime): plan LiteLLM vLLM cutover
  docs/design-docs/litellm-vllm-generation-boundary.md
  docs/superpowers/plans/2026-08-20-litellm-vllm-cutover.md
Due: none

feat(runtime): add LiteLLM and vLLM topology
  .env.example
  .gitignore
  docker-compose.yml
  infra/litellm-config.yaml
  infra/litellm.env.example
  scripts/runtime_lifecycle.sh
  server/api/docker.py
  start.sh
  tests/unit/test_runtime_launch_contract.py
  web/src/api/docker.ts
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
Due: check-banned

refactor(chat): route generation only through LiteLLM
  server/chat/gateway_runtime.py
  server/chat/provider_router.py
  server/models/runtime_gateway.py
  start.sh
  tests/conftest.py
  tests/unit/test_gateway_runtime.py
  tests/unit/test_provider_router.py
  tribrid_config.json
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor(chat): use one gateway generation transport
  server/api/eval.py
  server/chat/benchmark_runner.py
  server/chat/generation.py
  server/chat/handler.py
  server/services/answer_service.py
  server/synthetic/providers/sdkit_provider.py
  server/synthetic/recipes.py
  tests/unit/test_gateway_generation.py
Due: check-banned

fix(runtime): derive generation truth from gateway
  docker-compose.yml
  server/api/chat.py
  server/api/health.py
  server/chat/gateway_runtime.py
  server/chat/model_discovery.py
  server/config_control_plane.py
  server/models/tribrid_config_model.py
  server/observability/status.py
  server/runtime_capabilities.py
  start.sh
  tests/api/test_chat_models_endpoint.py
  tests/api/test_config_control_plane_endpoints.py
  tests/api/test_health_endpoints.py
  tests/api/test_observability_endpoints.py
  tests/api/test_runtime_capabilities_endpoint.py
  tests/unit/test_model_discovery.py
  tests/unit/test_runtime_capabilities.py
Due: validate-types, check-banned

fix(runtime): prove local generation gateway
  Dockerfile
  docker-compose.yml
  docs/exec-plans/active/frontend-browser-findings-2026-08-20.md
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  infra/grafana/provisioning/dashboards/gateway-serving.json
  infra/litellm-config.yaml
  infra/prometheus.yml
  server/chat/generation.py
  server/indexing/embedder.py
  server/models/runtime_gateway.py
  server/models/tribrid_config_model.py
  server/services/config_store.py
  start.sh
  tests/api/test_health_endpoints.py
  tests/api/test_lineage_endpoints.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_config_reality.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ChatSettings.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(runtime): fail closed on retrieval outages
  docs/exec-plans/active/frontend-browser-findings-2026-08-20.md
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  scripts/test_integration.sh
  server/api/chat.py
  server/api/config.py
  server/api/dependency_errors.py
  server/api/generation_errors.py
  server/api/retrieval_errors.py
  server/api/search.py
  server/config.py
  server/config_control_plane.py
  server/dependency_errors.py
  server/models/tribrid_config_model.py
  server/retrieval/errors.py
  server/retrieval/fusion.py
  server/services/answer_service.py
  server/services/config_store.py
  tests/api/test_chat_endpoints.py
  tests/api/test_dependency_outage_contract.py
  tests/api/test_feedback_endpoints.py
  tests/conftest.py
  tests/integration/test_dependency_outage_asymmetric.py
  tests/integration/test_required_retrieval_leg_contract.py
  tests/integration/test_runtime_config_isolation.py
  tests/unit/test_config_control_plane_outage.py
  tests/unit/test_config_runtime_path.py
  tests/unit/test_config_store.py
  tests/unit/test_dependency_errors.py
  tests/unit/test_fusion.py
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(runtime): fail closed on stateful storage
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  server/api/dependency_errors.py
  server/api/feedback.py
  server/api/health.py
  server/api/lineage.py
  server/api/repos.py
  server/api/reranker.py
  server/dependency_errors.py
  server/lineage/registry.py
  server/models/tribrid_config_model.py
  server/observability/query_log.py
  server/retrieval/mlx_qwen3.py
  tests/api/test_dependency_outage_contract.py
  tests/api/test_feedback_endpoints.py
  tests/api/test_lineage_endpoints.py
  tests/unit/test_api_neo4j_cleanup.py
  tests/unit/test_dependency_errors.py
  tests/unit/test_lineage_registry.py
  tests/unit/test_mlx_availability_probe.py
  tests/unit/test_mlx_lora_injection.py
  tests/unit/test_query_log.py
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor(reranker): remove unused triplet stubs
  docs/references/contract-bundle/openapi.json
  server/api/reranker.py
  tests/api/test_reranker_route_contract.py
Due: check-banned

refactor(web): remove unreachable utility hooks
  web/src/components/icons/ChevronRight.tsx
  web/src/hooks/index.ts
  web/src/hooks/useNavigation.ts
  web/src/hooks/useStorageCalculator.ts
  web/src/types/storage.ts
Due: check-banned

refactor(synthetic): remove duplicate recipe pipeline
  server/synthetic/recipes.py
Due: check-banned

fix: resolve open rendered-frontend findings with typed failure boundaries
  data/glossary.json
  docs/exec-plans/active/frontend-browser-findings-2026-08-20.md
  scripts/generate_types.py
  server/api/chat.py
  server/api/config.py
  server/api/docker.py
  server/api/retrieval_errors.py
  server/api/search.py
  server/chat/handler.py
  server/models/tribrid_config_model.py
  server/runtime_capabilities.py
  start.sh
  tests/api/test_chat_requires_provider.py
  tests/integration/test_required_retrieval_leg_contract.py
  web/public/glossary.json
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ChatSettings.tsx
  web/src/components/Chat/chatSessions.ts
  web/src/components/Chat/chatTransport.ts
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/hooks/useApplyButton.ts
  web/src/main.tsx
  web/src/stores/useConfigStore.ts
  web/src/types/generated.ts
  web/vite.config.ts
Due: validate-types, check-banned

fix: recall writes establish and enforce the dense embedding contract
  server/chat/recall_indexer.py
Due: check-banned

fix: chat config scope falls back to stored global config, not model defaults
  server/api/chat.py
  server/api/runtime_capabilities.py
Due: check-banned

test: add deterministic generic E2E acceptance corpus fixtures
  tests/fixtures/acceptance_corpus/data-pipeline.md
  tests/fixtures/acceptance_corpus/incident-playbook.md
  tests/fixtures/acceptance_corpus/observatory-overview.md
  tests/fixtures/acceptance_corpus/sensor-calibration.md
Due: none

docs: close the frontend findings handoff with rendered-browser evidence
  docs/exec-plans/active/frontend-browser-findings-2026-08-20.md
Due: none

fix: config and observability stop attributing the native retrieval lane to the pilot stack
  server/config_control_plane.py
  server/observability/incidents.py
  server/observability/status.py
  tests/api/test_config_control_plane_endpoints.py
Due: check-banned

feat: pilot lane embeds under the real contract on a Compose-owned Qdrant service
  docker-compose.yml
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/retrieval-pilot.md
  pyproject.toml
  scripts/test_integration.sh
  server/api/dependency_errors.py
  server/api/docker.py
  server/api/index.py
  server/config_control_plane.py
  server/dependency_errors.py
  server/indexing/oss_retrieval_pilot.py
  server/models/tribrid_config_model.py
  server/runtime_capabilities.py
  spec/config_reality_map.json
  start.sh
  tests/api/test_index_pilot_endpoints.py
  tests/service_requirements.py
  web/src/api/docker.ts
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/RAG/RetrievalPilotPanel.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

feat: pilot export routes rich documents through Docling with extraction provenance
  server/indexing/oss_retrieval_pilot.py
  tests/api/test_index_pilot_endpoints.py
Due: check-banned

feat: pilot search grows a real sparse leg with config-driven fusion
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  pyproject.toml
  server/api/index.py
  server/indexing/oss_retrieval_pilot.py
  server/models/tribrid_config_model.py
  tests/api/test_index_pilot_endpoints.py
  uv.lock
  web/src/types/generated.ts
Due: validate-types, check-banned

feat: pilot lane produces grounded answers with citations through the gateway
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  server/api/index.py
  server/indexing/oss_retrieval_pilot.py
  server/models/tribrid_config_model.py
Due: validate-types, check-banned

feat: pilot ingest stages a fresh generation and promotes it atomically
  server/api/repos.py
  server/indexing/oss_retrieval_pilot.py
  tests/api/test_index_pilot_endpoints.py
Due: check-banned

docs: record the retrieval promotion cutover design and proven parity gates
  docs/exec-plans/active/retrieval-promotion-cutover-2026-08-21.md
Due: none

feat: Learning Agent runs track to a real MLflow server and fail closed on unwired backends
  docker-compose.yml
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  server/api/agent.py
  server/api/docker.py
  server/models/tribrid_config_model.py
  server/training/control_plane.py
  server/training/mlflow_client.py
  start.sh
  tests/api/test_agent_train_launch_boundaries.py
  web/src/api/docker.ts
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: eval substrate readiness reflects whether Ragas/Promptfoo can actually execute
  server/config_control_plane.py
Due: check-banned

feat: Ragas and Promptfoo execute for real on eval runs, fail closed otherwise
  data/glossary.json
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/eval-substrates.md
  docs/references/index.md
  docs/references/training-control-plane-slice.md
  pyproject.toml
  scripts/generate_types.py
  server/api/agent.py
  server/api/dependency_errors.py
  server/api/eval.py
  server/dependency_errors.py
  server/evaluation/__init__.py
  server/evaluation/promptfoo_runner.py
  server/evaluation/ragas_runner.py
  server/models/tribrid_config_model.py
  tests/api/test_eval_promptfoo_boundaries.py
  tests/api/test_eval_ragas_boundaries.py
  uv.lock
  web/package-lock.json
  web/package.json
  web/public/glossary.json
  web/src/api/eval.ts
  web/src/components/Evaluation/EvalDrillDown.tsx
  web/src/components/Evaluation/PromptfooRegressionPanel.tsx
  web/src/components/tabs/EvalAnalysisTab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

feat: host API logs reach Loki and observability probes check real readiness
  docs/references/observability-online-slice.md
  infra/alloy/config.alloy
  infra/promtail-config.yml
  server/observability/runtime.py
  server/observability/status.py
  tests/unit/test_observability_readiness_probes.py
  web/src/components/tabs/ChatTab.tsx
Due: check-banned

docs: record recovery status and remaining blockers as of 2026-08-21
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
Due: none

docs: session 4 handoff prompt (backend completion, then Chrome-driven frontend tie-in)
  docs/exec-plans/active/handoff-2026-08-21-session4.md
Due: none
