Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

fix(indexing): the invariant walks the tree, and the stored estimate is a measured one
  tests/api/test_index_estimate_accuracy.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/tests/e2e/exhaustive/indexing_wave2.spec.ts
Due: check-banned

test(data-quality): disambiguate the keywords button after the M-49 rename
  web/tests/e2e/exhaustive/indexing_data_quality.spec.ts
Due: check-banned

fix(indexing): resolve the corpus root on every read, never rewrite the registry row
  server/api/index.py
  tests/api/test_index_relative_corpus_root.py
Due: check-banned

fix(indexing): the estimate refuses to guess rather than guess wrong
  server/api/index.py
  server/indexing/estimate.py
  server/models/index.py
  server/models/tribrid_config_model.py
  tests/api/test_index_estimate_accuracy.py
  tests/api/test_index_warmup_race.py
  tests/unit/test_index_estimate_sampling.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(indexing): the resolved corpus root is the only one the run and the registry see
  server/api/index.py
  tests/api/test_index_relative_corpus_root.py
Due: check-banned

fix(indexing): a cold estimate answers "warming" instead of racing the client timeout
  server/api/index.py
  server/indexing/estimate.py
  server/models/index.py
  tests/api/test_index_estimate_accuracy.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

test(indexing): the cold contract is null measurements, not zero counts
  tests/api/test_index_estimate_accuracy.py
Due: check-banned

fix(types): regenerate generated.ts for the estimate tunable rename
  web/src/types/generated.ts
Due: check-banned

fix(indexing): round the estimate's phase durations before printing them
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(indexing): a deleted index stops reporting itself as complete
  server/api/index.py
  tests/api/test_index_dashboard_endpoints.py
Due: check-banned

fix(data-quality): the page loads what it promises to review
  web/src/components/RAG/DataQualitySubtab.tsx
  web/tests/e2e/exhaustive/indexing_data_quality.spec.ts
Due: check-banned

fix(indexing): keep the rebase onto main green
  server/indexing/estimate.py
  tests/unit/test_index_docling_extractor_lock.py
Due: check-banned

fix(ui): unwedge the confirm dialog, and close the second-wave indexing findings
  server/api/index.py
  tests/unit/test_index_estimate_sampling.py
  web/src/components/RAG/DataQualitySubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/SyntheticCallout.tsx
  web/src/components/RAG/SyntheticLabSubtab.tsx
  web/src/components/ui/confirmDialog.tsx
  web/tests/e2e/exhaustive/indexing_wave2.spec.ts
Due: check-banned

fix(indexing): warm the sampler off the request path and report what the estimate cost
  server/api/index.py
  server/indexing/estimate.py
  server/models/index.py
  tests/api/test_index_estimate_accuracy.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

test(indexing): drop imports left unused by the fresh-process cold probe
  tests/api/test_index_estimate_accuracy.py
Due: check-banned

fix(indexing): the dashboard status line reports the persisted run
  server/api/index.py
  tests/api/test_index_dashboard_endpoints.py
Due: check-banned

fix(indexing): a filtered figure is not a warning, and a timed-out estimate says to retry
  server/api/index.py
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(indexing): one time model behind the estimate range and its breakdown
  server/api/index.py
  server/models/index.py
  tests/unit/test_index_estimate_figures.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/indexing_index_now.spec.ts
Due: validate-types, check-banned

docs(contract): regenerate the contract bundle after wave 1
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
Due: none

fix(tests): unrot the metrics index-failure test, and the radio glyph's text colour
  tests/api/test_metrics_endpoint.py
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(rag): migrate Synthetic Lab and Graph explorer numeric inputs to NumberField
  web/src/components/RAG/GraphSubtab.tsx
  web/src/components/RAG/SyntheticLabSubtab.tsx
Due: check-banned

fix(rag): migrate Data Quality's numeric config inputs to NumberField
  web/src/components/RAG/DataQualitySubtab.tsx
Due: check-banned

test(config): extend Task 16's NumberField invariant to the full app, zero raw inputs left
  tests/unit/test_clean_start_defaults.py
Due: check-banned

fix(rag): migrate Reranker config's numeric inputs to NumberField, align 3 bounds to Pydantic
  web/src/components/RAG/RerankerConfigSubtab.tsx
Due: check-banned

fix(training): migrate Reranker/Agent Training Studio numeric inputs to NumberField
  server/models/tribrid_config_model.py
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
Due: validate-types, check-banned

test(e2e): out-of-range NumberField clamp scenarios for Data Quality, Chat, Reranker, Training
  web/tests/e2e/exhaustive/numberfield_migration.spec.ts
Due: check-banned

fix(config): attribute PATCH field errors to NumberField, revert only rejected leaf paths
  web/src/components/ui/NumberField.tsx
  web/src/stores/useConfigStore.ts
  web/src/utils/configPatchErrors.ts
Due: check-banned

fix(chat): migrate Chat Settings and Chat Interface numeric inputs to NumberField
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ChatSettings.tsx
Due: check-banned

fix(eval): migrate Eval Analysis run-settings numeric inputs to NumberField
  web/src/components/tabs/EvalAnalysisTab.tsx
Due: check-banned

fix(dashboard): migrate Storage Calculator's numeric inputs to NumberField
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
Due: check-banned

fix(grafana): migrate org-id input to NumberField, add missing ge=1 model bound
  server/models/tribrid_config_model.py
  web/src/components/Grafana/GrafanaConfig.tsx
Due: validate-types, check-banned

fix(dashboard): drop step-snapping on Storage Calculator's free-form inputs
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
Due: check-banned

test(e2e): prove Storage Calculator no longer step-snaps, tighten a blunt negative
  web/tests/e2e/exhaustive/numberfield_migration.spec.ts
Due: check-banned

test(dashboard): prove the wave-2b dead-control and info-design fixes
  web/tests/e2e/exhaustive/dashboard_dead_controls.spec.ts
Due: check-banned

fix(dock): show one set of dock controls and announce Dock Current
  web/src/components/Dock/DockPanel.tsx
Due: check-banned

fix(dashboard): wire the health pill and retire the dead traces duration
  web/src/App.tsx
  web/src/api/dashboard.ts
  web/src/components/Dashboard/MonitoringSubtab.tsx
  web/src/components/Navigation/HealthPill.tsx
Due: check-banned

fix(dashboard): ground the storage calculator in the active corpus
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
Due: check-banned

fix(dashboard): unify storage byte units and count-tile labels
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/StorageSubtab.tsx
  web/src/components/Dashboard/SystemStatusSubtab.tsx
Due: check-banned

fix(eval): persist the AI comparison analysis per run so re-opening never re-charges
  scripts/generate_types.py
  server/api/eval.py
  server/models/tribrid_config_model.py
  tests/unit/test_eval_analysis_persistence.py
  web/src/api/eval.ts
  web/src/components/Evaluation/EvalDrillDown.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/eval_markdown_and_detail.spec.ts
Due: validate-types, check-banned

fix(eval): one shared GFM renderer for promptfoo and wizard LLM output
  web/src/components/Evaluation/PromptfooRegressionPanel.tsx
  web/src/components/tabs/StartTab.tsx
  web/src/components/ui/AssistantMarkdown.tsx
Due: check-banned
