Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

feat: wire Flyte orchestration for Learning Agent runs (launch/execute/status/cancel)
  README.md
  docker-compose.yml
  docs/exec-plans/active/handoff-2026-08-21-session4.md
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/training-control-plane-slice.md
  infra/flyte/flytectl.yaml
  infra/flyte/workflows/learning_agent.py
  pyproject.toml
  scripts/flyte_register_learning_agent.sh
  server/api/agent.py
  server/api/docker.py
  server/config_control_plane.py
  server/models/tribrid_config_model.py
  server/training/control_plane.py
  server/training/flyte_client.py
  start.sh
  tests/api/test_agent_train_flyte_orchestration.py
  tests/api/test_agent_train_launch_boundaries.py
  tests/service_requirements.py
  tests/unit/test_agent_training_control_plane.py
  tests/unit/test_flyte_client.py
  uv.lock
  web/src/api/docker.ts
  web/src/components/AgentTraining/RunOverview.tsx
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

test: cover Flyte-initiated termination + drive reconcile from the SSE stream
  docs/exec-plans/active/handoff-2026-08-21-session4.md
  docs/references/training-control-plane-slice.md
  server/api/agent.py
  tests/api/test_agent_train_flyte_orchestration.py
  tests/unit/test_flyte_state_apply.py
Due: check-banned

docs: session-5 handoff + two hard rules (real queries only; adversarial codex review)
  .claude/rules/testing.md
  AGENTS.md
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

docs: sharpen session-5 handoff P0 with verified LiteLLM alias-routing architecture
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

docs: stamp session-5 handoff checkpoint at bf34506 (P0-1 landed; P0-2 blocked on VM memory)
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

docs: stamp session-6 handoff checkpoint at 8536e5e (P0-2 landed)
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

fix(docs-autopilot): make the mkdocs pipeline actually auto-update, on GPT-5.6
  .github/workflows/ci.yml
  .github/workflows/docs-automation.yml
  AGENTS.md
  scripts/docs_ai/README.md
  scripts/docs_ai/bootstrap_docs.py
  scripts/docs_ai/docs_autopilot_enhanced.py
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/docs_ai/run_ci_autopilot.py
  tests/unit/test_generate_docs_from_diff.py
  tests/unit/test_run_ci_autopilot.py
Due: check-banned

docs: stamp session-7 handoff checkpoint at 04dff27 (P1 landed; run-state follow-up opened)
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

feat: move local generation to the host vllm-metal server (Qwen3.8-27B-4bit, P0-3)
  data/models.json
  docker-compose.yml
  docs/design-docs/litellm-vllm-generation-boundary.md
  docs/exec-plans/active/autopilot-status/ui-proof.md
  docs/exec-plans/active/handoff-2026-08-22-session5.md
  docs/exec-plans/active/local-model-vllm-metal-2026-08-22.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/eval-substrates.md
  docs/references/generation-gateway-catalog.md
  infra/litellm-config.yaml
  infra/prometheus.yml
  scripts/runtime_lifecycle.sh
  server/api/docker.py
  server/api/eval.py
  server/api/health.py
  server/gateway_catalog.py
  server/models/runtime_gateway.py
  start.sh
  stop.sh
  tests/api/test_chat_prompt_budget.py
  tests/api/test_health_endpoints.py
  tests/api/test_models_endpoint.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_gateway_catalog.py
  tests/unit/test_observability_readiness_probes.py
  tests/unit/test_prompt_budget.py
  tests/unit/test_refresh_models_catalog.py
  tests/unit/test_runtime_launch_contract.py
  tribrid_config.json
  web/public/models.json
  web/src/api/docker.ts
  web/src/components/Chat/ProviderSetup.tsx
  web/src/components/Infrastructure/DockerSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

feat: training run-state authority + reader-atomic versioned artifact store
  data/glossary.json
  docs/exec-plans/active/training-run-state-authority-2026-08-23.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/training-control-plane-slice.md
  server/api/agent.py
  server/api/reranker.py
  server/lineage/registry.py
  server/main.py
  server/models/tribrid_config_model.py
  server/retrieval/mlx_qwen3.py
  server/retrieval/rerank.py
  server/training/artifact_store.py
  server/training/promotion.py
  tests/api/test_agent_training_control_plane_endpoints.py
  tests/api/test_promotion_lineage.py
  tests/api/test_reranker_train_endpoints.py
  tests/unit/test_artifact_store.py
  tests/unit/test_reranker_split.py
  tests/unit/test_run_state_authority.py
  tests/unit/test_train_start_guard.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

docs: stamp session-9 handoff checkpoint at 7daf62f (run-state authority + artifact store landed)
  docs/exec-plans/active/handoff-2026-08-22-session5.md
Due: none

fix: revive the Neural Visualizer and replace every native dialog (Phase B defects 1-3)
  docs/exec-plans/active/phase-b-chrome-findings-2026-08-24.md
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Evaluation/QuestionManager.tsx
  web/src/components/Evaluation/SystemPromptsSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGL2.tsx
  web/src/components/Sidepanel.tsx
  web/src/components/ui/RepoSwitcherModal.tsx
  web/src/components/ui/confirmDialog.tsx
  web/src/hooks/useErrorHandler.ts
  web/src/hooks/useUIHelpers.ts
  web/src/utils/toast.ts
  web/tests/e2e/exhaustive/learning_reranker_visualizer.spec.ts
  web/tests/e2e/exhaustive/native_dialog_replacement.spec.ts
Due: check-banned

fix: route the Tempo trace link through Grafana Explore (Phase B defect 4)
  docker-compose.yml
  docs/exec-plans/active/phase-b-chrome-findings-2026-08-24.md
  server/observability/runtime.py
  tests/unit/test_observability_readiness_probes.py
Due: check-banned

fix: share the Ragas path across both eval routes + Phase B review hardening (defects 5-6)
  docs/exec-plans/active/handoff-2026-08-22-session5.md
  docs/exec-plans/active/phase-b-chrome-findings-2026-08-24.md
  server/api/eval.py
  tests/unit/test_clean_start_defaults.py
  tests/unit/test_eval_ragas_shared_path.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGL2.tsx
  web/src/components/ui/confirmDialog.tsx
  web/src/utils/toast.ts
  web/tests/e2e/exhaustive/coverage.spec.ts
  web/tests/e2e/exhaustive/harness.ts
  web/tests/e2e/exhaustive/native_dialog_replacement.spec.ts
Due: check-banned

fix: make Eval Analysis scrollable again and put Promptfoo runs behind real controls
  docs/exec-plans/active/phase-b-chrome-findings-2026-08-24.md
  web/src/api/eval.ts
  web/src/components/Evaluation/PromptfooRegressionPanel.tsx
  web/src/components/tabs/EvalAnalysisTab.tsx
  web/tests/e2e/exhaustive/eval_analysis_layout.spec.ts
Due: check-banned

docs: land the final acceptance matrix and close recovery item 5
  docs/exec-plans/active/final-acceptance-matrix-2026-08-24.md
  docs/exec-plans/active/ragweld-recovery-foundation-2026-08-19.md
Due: none

fix: make five 'done' surfaces honest — ML-quality dashboard, lineage aliases, config tiers, AI analysis, prompt collapse
  docs/exec-plans/active/phase-b-chrome-findings-2026-08-24.md
  infra/grafana/provisioning/dashboards/eval-benchmark-prompt-regressions.json
  server/api/benchmark.py
  server/api/eval.py
  server/evaluation/ragas_runner.py
  server/observability/metrics.py
  web/src/api/eval.ts
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/Evaluation/EvalDrillDown.tsx
  web/src/components/Evaluation/PromptfooRegressionPanel.tsx
  web/src/components/Evaluation/SystemPromptsSubtab.tsx
  web/src/components/ui/LineageMeta.tsx
  web/src/services/LineageService.ts
  web/src/stores/useConfigStore.ts
  web/src/utils/configKeyCategories.ts
  web/tests/e2e/exhaustive/eval_analysis_layout.spec.ts
Due: check-banned

docs: stamp session-12 handoff at 20bfd54 (defects 7-13, A5 closeout, acceptance matrix)
  AGENTS.md
  docs/exec-plans/active/handoff-2026-08-24-session12.md
Due: none

fix: close the corpus-registry pollution seams, harden LineageMeta, modernize the exhaustive suite
  AGENTS.md
  docs/exec-plans/active/final-acceptance-matrix-2026-08-24.md
  docs/exec-plans/active/handoff-2026-08-25-session13.md
  docs/exec-plans/active/session13-pr-loop-and-registry-pollution-2026-08-25.md
  docs/exec-plans/tech-debt-tracker.md
  scripts/docs_ai/bootstrap_docs.py
  server/api/repos.py
  server/lineage/registry.py
  server/models/tribrid_config_model.py
  server/synthetic/storage.py
  tests/api/test_lineage_endpoints.py
  tests/api/test_synthetic_endpoints.py
  tests/conftest.py
  tests/unit/test_docs_bootstrap_sources.py
  tests/unit/test_lineage_deletion_containment.py
  tests/unit/test_synthetic_storage_compat.py
  web/src/components/ui/LineageMeta.tsx
  web/tests/e2e/exhaustive/README.md
  web/tests/e2e/exhaustive/chat_reliability.spec.ts
  web/tests/e2e/exhaustive/corpus_fixture.ts
  web/tests/e2e/exhaustive/coverage.spec.ts
  web/tests/e2e/exhaustive/harness.ts
  web/tests/e2e/exhaustive/lineage_alias_meta.spec.ts
  web/tests/e2e/exhaustive/outcome_sink.ts
  web/tests/e2e/exhaustive/suite_config.ts
Due: validate-types, check-banned

docs: stamp session-13 handoff at 1d42651
  docs/exec-plans/active/handoff-2026-08-25-session13.md
Due: none

docs: curious-user browser drive inventory (114 findings across every surface, nothing fixed)
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/exec-plans/active/handoff-2026-08-25-session13.md
Due: none

feat: atomic index promotion via a generation manifest; live graph-hydration and observability tests
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/retrieval-lane.md
  scripts/check_banned.py
  server/api/graph.py
  server/api/index.py
  server/api/observability.py
  server/api/repos.py
  server/chat/recall_indexer.py
  server/codex_session_ingest.py
  server/db/neo4j.py
  server/db/postgres.py
  server/indexing/generations.py
  server/main.py
  server/observability/incidents.py
  server/observability/metrics.py
  server/observability/status.py
  server/retrieval/fusion.py
  server/retrieval/qdrant_store.py
  tests/api/test_index_dashboard_endpoints.py
  tests/integration/test_graph_communities_live.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_observability_live_queries.py
  tests/integration/test_qdrant_chunk_store.py
  tests/unit/test_codex_session_ingest.py
  tests/unit/test_fusion.py
Due: check-banned

test: live proof of the startup manifest upgrade; glossary describes generation manifests
  data/glossary.json
  server/indexing/generations.py
  tests/integration/test_qdrant_chunk_store.py
  web/public/glossary.json
Due: check-banned

fix: act on codex pass 2 — manifest retention current+previous, durable index-run fence, post-commit publication, Postgres-first delete
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/openapi.json
  docs/references/retrieval-lane.md
  server/api/config.py
  server/api/graph.py
  server/api/index.py
  server/api/repos.py
  server/config_control_plane.py
  server/db/neo4j.py
  server/db/postgres.py
  server/indexing/generations.py
  server/main.py
  server/retrieval/fusion.py
  server/retrieval/qdrant_store.py
  tests/api/test_answer_always_responds_without_llm.py
  tests/api/test_semantic_cache_endpoints.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_observability_live_queries.py
  tests/integration/test_qdrant_chunk_store.py
Due: check-banned

fix: act on codex pass 3 — fence lease/heartbeat/takeover, promotion ownership CAS, shielded commit confirmation, retention grace, deletion tombstone, typed 409
  data/glossary.json
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  docs/references/retrieval-lane.md
  scripts/generate_types.py
  server/api/index.py
  server/api/repos.py
  server/chat/recall_indexer.py
  server/codex_session_ingest.py
  server/config_control_plane.py
  server/db/neo4j.py
  server/db/postgres.py
  server/indexing/generations.py
  server/main.py
  server/models/index.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/retrieval/qdrant_store.py
  tests/api/test_index_cancel_stream_endpoints.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_qdrant_chunk_store.py
  tests/unit/test_codex_session_ingest.py
  web/public/glossary.json
  web/src/hooks/useIndexing.ts
  web/src/types/generated.ts
  web/src/utils/configKeyCategories.ts
Due: validate-types, check-banned

fix: act on codex pass 6 — manifest-aware takeover, strict manifests, tombstone intent, DB-time retention, durable-only status, index models owned by their domain module
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  scripts/generate_types.py
  server/api/dependency_errors.py
  server/api/generation_errors.py
  server/api/index.py
  server/api/repos.py
  server/api/retrieval_errors.py
  server/db/neo4j.py
  server/db/postgres.py
  server/indexing/generations.py
  server/main.py
  server/models/tribrid_config_model.py
  server/synthetic/providers/grounded_qa_provider.py
  server/synthetic/recipes.py
  tests/api/test_dependency_outage_contract.py
  tests/api/test_index_dashboard_endpoints.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_index_status_scoped_lease_live.py
  tests/unit/test_domain_models.py
Due: validate-types, check-banned

fix: contract bundle walks the index domain module for its JSON schemas
  docs/references/contract-bundle/json_schema_bundle.json
  scripts/export_contract_bundle.py
Due: check-banned

fix: act on codex pass 7 — tombstone revisions, cancellation-safe unknown commits, heartbeat thread, per-corpus quarantine with typed corruption 409, durable-first status, real-graph retention test
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/json_schema_bundle.json
  scripts/generate_types.py
  server/api/health.py
  server/api/index.py
  server/db/postgres.py
  server/indexing/generations.py
  server/main.py
  server/models/index.py
  tests/integration/test_index_promoted_lane.py
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: act on codex pass 9 and a full self-audit — de-index repairs the reclaim backlog, durable own-cleanup, committed-before-disconnect, Thread._stop shadowing, one staging-id definition
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/json_schema_bundle.json
  docs/references/contract-bundle/openapi.json
  server/api/index.py
  server/db/postgres.py
  server/indexing/generations.py
  server/models/index.py
  tests/api/test_dependency_outage_contract.py
  tests/integration/test_fence_heartbeat_live.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_index_status_scoped_lease_live.py
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(index): durable own-run cleanup handoff gates the fence, one strict state reader, tombstone-ordered de-index
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/references/contract-bundle/openapi.json
  server/api/index.py
  server/api/repos.py
  server/main.py
  tests/integration/test_index_status_scoped_lease_live.py
  tests/unit/test_generation_retention.py
Due: check-banned

fix(index): collision-proof generations, run-id-only commitment, manifest-masked reclaim, one config snapshot, exact de-index sweep
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  docs/exec-plans/active/handoff-2026-08-24-session12.md
  docs/references/contract-bundle/openapi.json
  server/api/index.py
  server/db/postgres.py
  server/indexing/generations.py
  server/retrieval/qdrant_store.py
  tests/api/test_dependency_outage_contract.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_index_status_scoped_lease_live.py
  tests/integration/test_qdrant_chunk_store.py
  tests/unit/test_generation_retention.py
Due: check-banned

fix(postgres): incremental writers never overwrite the operator-given corpus identity
  docs/exec-plans/active/curious-user-drive-2026-08-25.md
  server/db/postgres.py
  tests/integration/test_qdrant_chunk_store.py
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
