Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

docs(plans): implementation plan for figure chunks (multimodal ingestion Phase 1)
  docs/superpowers/plans/2026-08-29-figure-chunks.md
Due: none

fix(ui): distinguish locked generation routing from chat
  web/src/components/Chat/ModelPicker.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/tests/e2e/gateway/production_generation_alias.spec.ts
Due: check-banned

feat(config): add indexing.figures section for figure description at index time
  data/glossary.json
  server/models/tribrid_config_model.py
  tests/unit/test_indexing_figures_config.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(indexing): stop fenced figure replies truncating on embedded braces
  server/indexing/figure_prompts.py
  tests/unit/test_figure_prompts.py
Due: check-banned

feat(indexing): FigureAnnotation model, figure prompt profiles and reply parser
  server/indexing/figure_prompts.py
  server/models/index.py
  tests/unit/test_figure_prompts.py
Due: validate-types, check-banned

test(fixtures): two scanned Apollo 11 report pages with a detected figure
  tests/fixtures/acceptance_corpus_docs/apollo11_figure_pages.pdf
  tests/fixtures/pdf_builder.py
Due: check-banned

feat(indexing): ragweld picture serializer renders figure descriptions as prose
  server/indexing/figure_serializer.py
  tests/unit/test_figure_serializer.py
Due: check-banned

fix(indexing): read figure meta first, block meta leak, widen block content
  server/indexing/figure_prompts.py
  server/indexing/figure_serializer.py
  tests/unit/test_figure_prompts.py
  tests/unit/test_figure_serializer.py
Due: check-banned

fix(indexing): surface class header for classified-but-undescribed pictures
  server/indexing/figure_serializer.py
  tests/unit/test_figure_serializer.py
Due: check-banned

fix(indexing): keep class header for uncaptioned classified pictures
  server/indexing/figure_prompts.py
  tests/unit/test_figure_prompts.py
  tests/unit/test_figure_serializer.py
Due: check-banned

fix(indexing): cover figure_class and stop swallowing our own extractor failures
  server/indexing/text_extractors.py
  tests/unit/test_figure_provenance.py
Due: check-banned

feat(indexing): source map and provenance carry figure annotations onto chunks
  server/indexing/provenance.py
  server/indexing/text_extractors.py
  tests/unit/test_figure_provenance.py
Due: check-banned

feat(indexing): describe figures through the gateway vision alias during Docling conversion
  server/api/index.py
  server/indexing/text_extractors.py
  tests/unit/test_figure_extraction_options.py
  tests/unit/test_figure_route.py
Due: check-banned

fix(indexing): fail closed on figure-enabled extraction and type the figure 409
  data/glossary.json
  scripts/generate_types.py
  server/api/index.py
  server/indexing/text_extractors.py
  server/models/index.py
  server/models/tribrid_config_model.py
  tests/api/test_dependency_outage_contract.py
  tests/unit/test_figure_extraction_options.py
  tests/unit/test_figure_route.py
  tests/unit/test_indexing_figures_config.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

feat(indexing): itemise figure description cost in the index estimate
  server/api/index.py
  server/models/index.py
  tests/unit/test_index_estimate_figures.py
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(indexing): task-8 review round -- glossary drift, run-summary coverage, triage parity
  data/glossary.json
  server/api/index.py
  server/indexing/text_extractors.py
  tests/unit/test_figure_provenance.py
  tests/unit/test_figure_run_summary.py
  web/public/glossary.json
Due: check-banned

test(integration): describe a real Apollo figure through the gateway alias
  tests/integration/test_figure_description_live.py
Due: check-banned

fix(indexing): a blank vision reply is a failure, not a description
  data/glossary.json
  server/api/index.py
  server/indexing/figure_serializer.py
  server/indexing/text_extractors.py
  tests/unit/test_figure_extraction_options.py
  tests/unit/test_figure_serializer.py
  web/public/glossary.json
Due: check-banned

fix(indexing): floor classification_min_confidence so skip_classes means majority class
  data/glossary.json
  server/indexing/text_extractors.py
  tests/unit/test_figure_extraction_options.py
  web/public/glossary.json
Due: check-banned

fix(indexing): raise the figure description completion-token budget to 2500
  data/glossary.json
  server/models/tribrid_config_model.py
  tests/unit/test_indexing_figures_config.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(eval): narrow the eval-dataset ignore rule, and harden the figure scorer
  .gitignore
  docs/exec-plans/active/multimodal-schematics-research-2026-08-29.md
  scripts/eval_figure_grounding.py
  tests/unit/test_figure_eval_dataset.py
Due: check-banned

feat(eval): page-grounded figure retrieval eval, and Phase 1 results
  .gitignore
  data/eval_datasets/nasa-apollo-11-figures.json
  docs/exec-plans/active/multimodal-schematics-research-2026-08-29.md
  scripts/eval_figure_grounding.py
  server/models/eval_figures.py
  tests/unit/test_figure_eval_dataset.py
Due: validate-types, check-banned

fix(indexing): final-review fixes for figure chunks
  data/glossary.json
  docs/exec-plans/active/multimodal-schematics-research-2026-08-29.md
  server/api/index.py
  server/indexing/figure_serializer.py
  server/indexing/provenance.py
  server/indexing/text_extractors.py
  server/models/index.py
  tests/unit/test_figure_extraction_options.py
  tests/unit/test_figure_provenance.py
  tests/unit/test_figure_run_summary.py
  tests/unit/test_index_estimate_figures.py
  web/public/glossary.json
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(deploy): persist Authelia sessions in a dedicated redis so restarts keep operators signed in
  deploy/proxmox/authelia/configuration.yml
  deploy/proxmox/bootstrap-secrets.sh
  deploy/proxmox/docker-compose.yml
  deploy/proxmox/start-runtime.sh
  deploy/proxmox/stop-runtime.sh
  docs/exec-plans/active/pve1-ragweld-deployment-2026-08-27.md
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

test(deploy): prove authelia-redis maps the runtime uid instead of the interpolation default
  tests/unit/test_proxmox_deployment_contract.py
Due: check-banned

fix(ui): commit numeric config fields on blur instead of clamping keystrokes
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/ui/NumberField.tsx
Due: check-banned

feat(ui): add a Figures settings section to the Indexing tab
  web/src/components/Chat/ModelPicker.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/stores/useConfigStore.ts
Due: check-banned

feat(ui): mark figure chunks in citations and the source viewer
  server/retrieval/qdrant_store.py
  tests/integration/test_qdrant_chunk_store.py
  web/src/components/Chat/SourceList.tsx
  web/src/components/Dock/DockPanel.tsx
  web/src/components/Documents/FigureBadge.tsx
  web/src/components/Documents/PdfPageView.tsx
  web/src/components/Documents/sourceLabels.ts
Due: check-banned

fix(models): correct the stale estimated_figures heuristic description
  server/models/index.py
  web/src/types/generated.ts
Due: validate-types, check-banned

refactor(ui): promote Figures to its own Indexing component card
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(ui): clear NumberField's editing flag when Enter commits
  web/src/components/ui/NumberField.tsx
Due: check-banned

fix(ui): clamp numeric config inputs to their field constraints
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/utils/numbers.ts
Due: check-banned

fix(ui): raise dark muted text to the contrast floor and pin token contrast with a test
  tests/unit/test_web_tokens_contrast.py
  web/src/styles/tokens.css
Due: check-banned

fix(ui): finish the --accent-text migration for all text-color uses
  tests/unit/test_web_tokens_contrast.py
  web/src/components/Dashboard/GlossarySubtab.tsx
  web/src/components/Dashboard/HelpGlossary.css
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/QuickActionButton.tsx
  web/src/components/Evaluation/SystemPromptsSubtab.tsx
  web/src/components/LiveTerminal/LiveTerminal.css
  web/src/components/RAG/GraphSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/IntentMatrixEditor.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/tabs/EvalAnalysisTab.tsx
  web/src/styles/main.css
  web/src/styles/micro-interactions.css
  web/src/styles/storage-calculator.css
  web/src/styles/style.css
Due: check-banned

fix(ui): raise disabled/loading controls to the 0.8 opacity floor
  tests/unit/test_web_tokens_contrast.py
  web/src/styles/learning-studio.css
  web/src/styles/main.css
Due: check-banned

fix(ui): stop dimming text with opacity, guard it with a test
  tests/unit/test_web_tokens_contrast.py
  web/src/components/Dashboard/HelpGlossary.css
  web/src/styles/main.css
Due: check-banned

fix(ui): raise light-theme status-color text below the contrast floor
  tests/unit/test_web_tokens_contrast.py
  web/src/components/Dashboard/GlossarySubtab.tsx
  web/src/styles/tokens.css
Due: check-banned

fix(ui): add --accent-text and migrate standalone accent text to it
  tests/unit/test_web_tokens_contrast.py
  web/src/components/Chat/ChatHistorySidebar.tsx
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Dashboard/GlossarySubtab.tsx
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/Dashboard/MonitoringSubtab.tsx
  web/src/components/Dashboard/QuickActions.tsx
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
  web/src/components/Dashboard/SystemStatusSubtab.tsx
  web/src/components/Dock/DockPanel.tsx
  web/src/components/Evaluation/EvalDrillDown.tsx
  web/src/components/Evaluation/SystemPromptsSubtab.tsx
  web/src/components/Evaluation/TraceViewer.tsx
  web/src/components/Infrastructure/MCPSubtab.tsx
  web/src/components/RAG/GraphSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RepositoryConfig.tsx
  web/src/components/Sidepanel.tsx
  web/src/components/tabs/ChatTab.tsx
  web/src/components/tabs/EvalAnalysisTab.tsx
  web/src/components/ui/LineageMeta.tsx
  web/src/components/ui/RepoSwitcherModal.tsx
  web/src/styles/tokens.css
Due: check-banned

refactor(e2e): share the figure spec's index and chat-seed helpers
  web/src/components/LiveTerminal/LiveTerminal.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/tests/e2e/exhaustive/chat_seed.ts
  web/tests/e2e/exhaustive/corpus_fixture.ts
  web/tests/e2e/exhaustive/figure_workflow.spec.ts
  web/tests/e2e/exhaustive/source_viewer.spec.ts
Due: check-banned

test(e2e): prove the figure workflow against the live stack
  web/tests/e2e/exhaustive/figure_workflow.spec.ts
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
