Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

.pre-commit-config.yaml:

# Pre-commit hooks for tribrid-rag
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Validate TypeScript types match Pydantic
      - id: validate-types
        name: Validate TypeScript types match Pydantic
        entry: python scripts/validate_types.py
        language: python
        pass_filenames: false
        files: ^server/models/.*\.py$
        stages: [commit]

      # Check for banned imports and terms
      - id: check-banned
        name: Check for banned imports and terms
        entry: python scripts/check_banned.py
        language: python
        pass_filenames: false
        files: \.(py|ts|tsx)$
        stages: [commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

fix(catalog,benchmark,indexing): commit what the refresh regenerates, benchmark the corpus's own alias, link the extraction prompt
  .github/workflows/refresh-models-catalog.yml
  infra/litellm-config.yaml
  tests/unit/test_gateway_catalog.py
  web/src/components/Benchmark/BenchmarkTab.tsx
  web/src/components/Benchmark/defaultSelection.ts
  web/src/components/RAG/IndexingSubtab.tsx
  web/tests/e2e/exhaustive/benchmark_workbench.spec.ts
  web/tests/e2e/exhaustive/indexing_config_cards.spec.ts
  web/tests/unit/benchmark_default_selection.test.ts
Due: check-banned

fix(ui): keep deck evidence inside its card, and teach only what this build has
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/Observability/OperatorDeck.tsx
  web/tests/e2e/exhaustive/dashboard_dead_controls.spec.ts
  web/tests/e2e/exhaustive/observability_deck.spec.ts
Due: check-banned

fix(gateway): read the provider only from a whole OpenRouter upstream
  server/gateway_reasoning.py
  tests/unit/test_gateway_reasoning.py
Due: check-banned

fix(chat): keep the docked composer buttons on one line and drop the dead trace wiring
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/tabs/ChatTab.tsx
  web/tests/e2e/exhaustive/chat_corpus_scope.spec.ts
  web/tests/e2e/exhaustive/chat_seed.ts
  web/tests/e2e/exhaustive/learning_reranker_visualizer.spec.ts
  web/tests/e2e/exhaustive/legibility_dock.spec.ts
  web/tests/e2e/exhaustive/numberfield_migration.spec.ts
  web/tests/e2e/exhaustive/suite_config.ts
  web/tests/e2e/gateway/eval_data_lane.spec.ts
  web/tests/unit/exhaustive_suite_surfaces.test.ts
Due: check-banned

test(observability): find the deck's evidence corpus instead of naming one
  web/tests/e2e/exhaustive/observability_deck.spec.ts
Due: check-banned

fix(gateway): give reasoning models a floor and a budget so reranking stops coming back empty (D26)
  server/chat/generation.py
  server/gateway_reasoning.py
  server/indexing/graphrag_pipeline.py
  server/indexing/graphrag_schema.py
  server/retrieval/gateway_reranker.py
  tests/fixtures/gateway_rerank_candidates.json
  tests/integration/test_gateway_reranker_live.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_gateway_reasoning.py
  tests/unit/test_gateway_reranker.py
Due: check-banned

fix(server): cascade staging rows on corpus delete and share the answer sanitiser
  server/db/postgres.py
  server/services/answer_service.py
  tests/api/test_config_control_plane_endpoints.py
  tests/api/test_graph_schema_endpoints.py
  tests/api/test_index_estimate_accuracy.py
  tests/api/test_reranker_status_endpoint.py
  tests/api/test_stream_feedback_triplet_linkage.py
  tests/corpus_reaper.py
  tests/integration/test_benchmark_grounding.py
  tests/integration/test_corpus_reaper.py
  tests/integration/test_dependency_outage_asymmetric.py
  tests/integration/test_documents_persistence_live.py
  tests/integration/test_eval_trace_mining.py
  tests/integration/test_graph_communities_live.py
  tests/integration/test_graph_promotion_invariants_live.py
  tests/integration/test_graph_schema_proposal_live.py
  tests/integration/test_graphrag_pipeline_live.py
  tests/integration/test_index_promoted_lane.py
  tests/integration/test_index_status_scoped_lease_live.py
  tests/integration/test_neo4j_live.py
  tests/integration/test_observability_live_queries.py
  tests/integration/test_postgres_corpus_delete.py
  tests/integration/test_qdrant_chunk_store.py
  tests/unit/test_corpus_reaper_cascade_parity.py
  tests/unit/test_corpus_reaper_prefixes.py
  tests/unit/test_generation_failure.py
  tests/unit/test_graphrag_pipeline.py
Due: check-banned

docs(server): say why the staging-id helper is imported inside the sweep
  server/db/postgres.py
Due: check-banned

perf(retrieval): bound the graph leg to entities and cap expansion per seed (S39)
  data/glossary.json
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/retrieval/graphrag_retriever.py
  tests/integration/test_graph_hydration_live.py
  tests/integration/test_graph_traversal_live.py
  tests/unit/test_graphrag_retriever_contract.py
  web/public/glossary.json
  web/src/types/generated.ts
Due: validate-types, check-banned

fix(admin): stop telling operators that vLLM and MLflow block lanes they never touch (S31)
  server/config_control_plane.py
  tests/unit/test_config_control_plane.py
Due: check-banned

fix(mcp): probe on the deployment's own defaults and name the transport it used (S40, S34)
  web/src/components/Infrastructure/MCPSubtab.tsx
  web/src/hooks/useMCPServer.ts
  web/tests/e2e/exhaustive/curious_user_p1_fixes.spec.ts
Due: check-banned

docs(graphrag): record the merged lanes, the gate and the two reviews
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(admin): the local serving lane is a gateway route, so chat can still be on it
  server/config_control_plane.py
  tests/unit/test_config_control_plane.py
Due: check-banned

fix(chat): say when the Routing Trace panel is showing someone else's run (S37)
  web/src/components/tabs/ChatTab.tsx
  web/tests/e2e/exhaustive/chat_corpus_scope.spec.ts
Due: check-banned

docs(graphrag): record the MCP, dependency-card and trace-provenance fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

docs(graphrag): record the D19 result, the ec71b669 deploy and its live verification
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(retrieval,answer): fail closed when a configured reranker or the generation lane cannot run
  scripts/generate_types.py
  server/api/benchmark.py
  server/api/chat.py
  server/api/config.py
  server/api/generation_errors.py
  server/api/retrieval_errors.py
  server/api/search.py
  server/mcp/tools.py
  server/models/tribrid_config_model.py
  server/retrieval/errors.py
  server/retrieval/fusion.py
  server/retrieval/rerank.py
  server/services/answer_service.py
  tests/api/test_answer_always_responds_without_llm.py
  tests/api/test_answer_fails_closed_without_llm.py
  tests/api/test_dependency_outage_contract.py
  tests/api/test_search_endpoints.py
  tests/api/test_search_reranker_fails_closed.py
  tests/unit/test_reranker.py
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/chatTransport.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

docs(graphrag): record the codex block, the fail-closed fix and the cost-plan verdict
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

docs(observability): scope the cost-telemetry slice and its operator decisions
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(server): count the cap without the seed, keep cost on empty replies, guard the reaper, fix the vLLM rule
  server/chat/generation.py
  server/config_control_plane.py
  server/retrieval/graphrag_retriever.py
  tests/corpus_reaper.py
  tests/integration/test_corpus_reaper.py
  tests/integration/test_graph_traversal_live.py
  tests/unit/test_config_control_plane.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_graphrag_retriever_contract.py
Due: check-banned

fix(mcp,chat): report the defaults the mounted MCP tools really use; scope the trace notice to the conversation
  server/api/config.py
  server/mcp/server.py
  server/models/tribrid_config_model.py
  tests/api/test_mcp_endpoints.py
  web/src/components/Chat/chatSessions.ts
  web/src/components/Infrastructure/MCPSubtab.tsx
  web/src/components/tabs/ChatTab.tsx
  web/src/types/generated.ts
  web/tests/e2e/exhaustive/chat_corpus_scope.spec.ts
  web/tests/e2e/exhaustive/chat_seed.ts
  web/tests/e2e/exhaustive/curious_user_p1_fixes.spec.ts
  web/tests/unit/chat_conversation_run_ids.test.ts
Due: validate-types, check-banned

docs(graphrag): record the P2 lanes, the final gate and the staging trap
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(retrieval,answer): map the reranker failure on the chat stream, never answer over a failed retrieval
  server/api/chat.py
  server/api/search.py
  server/mcp/tools.py
  server/retrieval/rerank.py
  server/services/answer_service.py
  tests/api/test_search_reranker_fails_closed.py
  tests/corpus_reaper.py
  tests/integration/test_corpus_reaper.py
  tests/unit/test_answer_service_retrieval.py
  tests/unit/test_gateway_generation.py
  tests/unit/test_reranker.py
Due: check-banned

docs(graphrag): record codex approval #2 and the round-2 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

test(answer): pin the answer lane's failure reason to the shared classifier
  tests/unit/test_generation_failure.py
Due: check-banned

fix(chat,answer): a failed exchange persists nothing; retrieval failures are reported as retrieval
  server/api/chat.py
  server/api/search.py
  server/chat/handler.py
  server/retrieval/errors.py
  server/retrieval/rerank.py
  server/services/answer_service.py
  tests/api/test_answer_fails_closed_without_llm.py
  tests/api/test_chat_endpoints.py
  tests/api/test_chat_requires_provider.py
  tests/api/test_search_endpoints.py
  tests/unit/test_answer_service_retrieval.py
  tests/unit/test_generation_failure.py
  tests/unit/test_reranker.py
Due: check-banned

docs(graphrag): record codex approval #3 and the round-3 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(chat,answer,mcp): an interrupted stream persists nothing; retrieval failures are typed at every boundary
  scripts/generate_types.py
  server/api/chat.py
  server/api/generation_errors.py
  server/api/retrieval_errors.py
  server/api/search.py
  server/mcp/tools.py
  server/models/tribrid_config_model.py
  server/retrieval/errors.py
  tests/api/fake_gateway.py
  tests/api/live_server.py
  tests/api/test_answer_fails_closed_without_llm.py
  tests/api/test_chat_endpoints.py
  tests/api/test_chat_requires_provider.py
  tests/api/test_dependency_outage_contract.py
  tests/api/test_mcp_endpoints.py
  web/src/types/generated.ts
Due: validate-types, check-banned

docs(graphrag): record codex approval #4 and the round-4 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(chat,answer,mcp): nothing durable before the done event is on the wire
  server/api/chat.py
  server/api/generation_errors.py
  server/api/search.py
  server/chat/handler.py
  server/mcp/tools.py
  server/services/answer_service.py
  tests/api/fake_gateway.py
  tests/api/test_answer_fails_closed_without_llm.py
  tests/api/test_chat_endpoints.py
  tests/api/test_dependency_outage_contract.py
Due: check-banned

docs(graphrag): record codex approval #5 and the round-5 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(chat,answer,mcp): every record of an exchange waits for the done event
  server/api/chat.py
  server/api/search.py
  server/chat/handler.py
  server/mcp/tools.py
  server/services/answer_service.py
  tests/api/fake_gateway.py
  tests/api/test_chat_endpoints.py
Due: check-banned

docs(graphrag): record codex approval #6 and the round-6 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(chat,answer,mcp): once the server produces done, the exchange is persisted atomically
  server/api/chat.py
  server/api/search.py
  server/mcp/tools.py
  tests/api/test_chat_endpoints.py
Due: check-banned

docs(graphrag): record codex approval #7 and the round-7 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(chat,answer,mcp): one committer commits the exchange before the terminal event
  server/api/chat.py
  server/chat/handler.py
  server/chat/query_record.py
  server/mcp/tools.py
  server/services/answer_service.py
  tests/api/test_chat_endpoints.py
Due: check-banned

docs(graphrag): record codex approval #8 and the round-8 fixes
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

fix(mcp,tests): confine the Postgres outage typing to store failures; close the review's test gaps
  server/chat/query_record.py
  server/mcp/tools.py
  tests/api/test_answer_fails_closed_without_llm.py
  tests/api/test_chat_endpoints.py
Due: check-banned

docs(graphrag): record codex approval #9, the round-9 fixes and the open consistency decision
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none

docs(graphrag): record the accepted commit contract and codex's open P1 as accepted risk
  docs/exec-plans/active/graphrag-cross-corpus-2026-08-31.md
Due: none
