Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

fix(dashboard): Fix model loading in cost calculator and update terminology
  web/src/components/Dashboard/QuickActions.tsx
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
  web/src/components/Dashboard/SystemStatus.tsx
  web/src/components/Dashboard/SystemStatusSubtab.tsx
  web/src/components/Sidepanel.tsx
  web/src/hooks/useModels.ts
  web/src/stores/index.ts
  web/src/stores/useCostCalculatorStore.ts
Due: check-banned

feat(docker): Enhance Docker configuration and documentation for database management
  .env.example
  .internaldocs/HANDOFF.md
  docker-compose.yml
  infra/docker-compose.dev.yml
  mkdocs/docs/index.md
  scripts/docs_ai/docs_autopilot_enhanced.py
  server/api/chunk_summaries.py
  server/api/eval.py
  server/api/graph.py
  server/api/health.py
  server/api/index.py
  server/api/repos.py
  server/db/neo4j.py
  server/db/postgres.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  site/sitemap.xml
  site/sitemap.xml.gz
  tests/unit/test_fusion.py
  tests/unit/test_neo4j_graph_search.py
  tribrid_config.json
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Dashboard/SystemStatus.tsx
  web/src/components/Dashboard/SystemStatusPanel.tsx
  web/src/components/Infrastructure/PathsSubtab.tsx
  web/src/components/Infrastructure/ServicesSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

feat(loader): Implement gitignore support in FileLoader for improved file inclusion/exclusion
  server/indexing/loader.py
  tests/unit/test_loader_gitignore.py
Due: check-banned

FDS
  scripts/docs_ai/bootstrap_docs.py
  server/api/repos.py
Due: check-banned

fix(types): resolve mypy errors in docker.py and rag.py
  server/api/docker.py
  server/services/rag.py
Due: check-banned

feat(ui): add fullscreen expandable view for knowledge graph visualization
  web/src/components/RAG/GraphSubtab.tsx
Due: check-banned

ci: add workflow to sync ragweld.com on web/ changes
  .github/workflows/sync-ragweld.yml
Due: none

ci: complete auto-sync workflow for ragweld.com demo
  .github/workflows/sync-ragweld.yml
  server/api/docker.py
  server/chat/handler.py
Due: check-banned

Refactor reranking configuration and chat model retrieval
  server/api/chat.py
  server/chat/model_discovery.py
  server/chat/provider_router.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  server/retrieval/rerank.py
  tests/unit/test_config.py
  tests/unit/test_reranker.py
  tribrid_config.json
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ModelPicker.tsx
  web/src/components/Chat/ProviderSetup.tsx
  web/src/types/generated.ts
Due: validate-types, check-banned

fix chat UI issues and handle jank-created corpora
  .gitignore
  server/api/chat.py
  server/chat/model_discovery.py
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/Chat/ModelPicker.tsx
  web/src/components/Chat/ProviderSetup.tsx
  web/src/components/Chat/SourceDropdown.tsx
  web/src/hooks/useEmbeddingStatus.ts
  web/src/stores/useRepoStore.ts
Due: check-banned

- Implemented new models and endpoints for managing prompts, including listing, updating, and resetting prompts, with improved error handling and metadata support.
  .env.example
  README.md
  assets/chat-and-dataset.png
  assets/indexing-settings-with-grafana-on-side.png
  scripts/check_banned.py
  scripts/generate_types.py
  scripts/print_codex_model.py
  server/api/config.py
  server/api/eval.py
  server/api/prompts.py
  server/chat/generation.py
  server/chat/provider_router.py
  server/main.py
  server/models/tribrid_config_model.py
  server/services/config_store.py
  tests/api/test_eval_analyze_comparison_requires_llm.py
  tests/api/test_eval_analyze_comparison_routing_prefers_openai.py
  tests/api/test_prompts_endpoints.py
  tests/api/test_secrets_endpoints.py
  tribrid_config.json
  web/src/api/eval.ts
  web/src/api/prompts.ts
  web/src/components/Chat/ChatSettings2.tsx
  web/src/components/Chat/SourceDropdown.tsx
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/Evaluation/EvalDatasetSubtab.tsx
  web/src/components/Evaluation/EvalDrillDown.tsx
  web/src/components/Evaluation/QuestionManager.tsx
  web/src/components/Evaluation/SystemPromptsSubtab.tsx
  web/src/components/RAG/EvaluateSubtab.tsx
  web/src/components/RAG/RAGSubtabs.tsx
  web/src/components/tabs/EvalAnalysisTab.tsx
  web/src/components/tabs/RAGTab.tsx
  web/src/config/routes.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

favicon
  README.md
  server/api/graph.py
  web/public/favicon.svg
Due: check-banned

indexing: support ast/hybrid chunking
  server/indexing/chunker.py
Due: check-banned

tests: cover ast and hybrid chunking
  tests/unit/test_chunker.py
Due: check-banned

tests: respect chunking config constraints
  tests/unit/test_chunker.py
Due: check-banned

refactor: learning reranker cleanup — resolution reason helper, tests, orphan removal
  server/retrieval/rerank.py
  tests/unit/test_learning_backend_resolution.py
  tests/unit/test_qwen3_grad_accum_math.py
  tests/unit/test_qwen3_token_id_resolution.py
  tests/unit/test_reranker_trainer.py
  web/src/components/RerankerTraining/GradientDescentViz.tsx
Due: check-banned

chore: align tribrid_config.json lora_target_modules with Pydantic default
  tribrid_config.json
Due: none

slop
  models/learning-reranker-tribrid/config.json
  models/learning-reranker-tribrid/special_tokens_map.json
  models/learning-reranker-tribrid/tokenizer.json
  models/learning-reranker-tribrid/tokenizer_config.json
  models/learning-reranker-tribrid/vocab.txt
  scripts/docs_ai/docs_prompt_base.md
  server/api/reranker.py
  server/retrieval/mlx_qwen3.py
  server/training/mlx_qwen3_trainer.py
  server/training/reranker_trainer.py
  web/public/glossary.json
  web/src/components/RAG/EvaluateSubtab.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/hooks/useReranker.ts
  web/src/services/RerankService.ts
  web/src/styles/global.css
Due: check-banned

Rebrand learning reranker as Qwen3 LoRA across UI and docs
  data/models.json
  mkdocs/docs/architecture.md
  mkdocs/docs/configuration.md
  mkdocs/docs/howto/reranker.md
  mkdocs/docs/index.md
  mkdocs/docs/models.md
  mkdocs/docs/reranking.md
  mkdocs/docs/retrieval/overview.md
  server/api/reranker.py
  web/public/models.json
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/DevTools/Reranker.tsx
  web/src/components/RAG/LearningRankerSubtab.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
Due: check-banned

Update glossary terminology for learning reranker semantics
  data/glossary.json
  web/public/glossary.json
Due: none

Purge faxbot references in core docs and artifact tests
  README.md
  ragweld-handoff.md
  tests/unit/test_reranker_artifacts.py
Due: check-banned

Purge faxbot references in core docs and artifact tests
  README.md
  ragweld-handoff.md
Due: none

Rebrand learning reranker as Qwen3 LoRA across UI and docs
  data/models.json
  mkdocs/docs/architecture.md
  mkdocs/docs/configuration.md
  mkdocs/docs/howto/reranker.md
  mkdocs/docs/index.md
  mkdocs/docs/models.md
  mkdocs/docs/reranking.md
  mkdocs/docs/retrieval/overview.md
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/DevTools/Reranker.tsx
  web/src/components/RAG/LearningRankerSubtab.tsx
  web/src/components/RAG/RerankerConfigSubtab.tsx
Due: check-banned

Lock prompt defaults and epstein training paths in config
  server/models/tribrid_config_model.py
  tests/api/test_feedback_endpoints.py
  tests/api/test_reranker_score_endpoint.py
  tribrid_config.json
  web/src/types/generated.ts
Due: validate-types, check-banned

Remove tracked faxbot runtime artifacts from tmp
  tmp/last_train_start.json
  tmp/metrics_faxbot__20260205_004634.json
  tmp/run_faxbot__20260205_004634.json
Due: none

Drop legacy cross-encoder implementation docs and fix learning reranker naming
  CLAUDE.md
  CROSS-ENCODER-IMPLEMENTATION/README.md
  CROSS-ENCODER-IMPLEMENTATION/mlx_cross_encoder.py
  CROSS-ENCODER-IMPLEMENTATION/requirements.txt
Due: check-banned

Finalize studio layout sizing and inspector scroll behavior
  TODO.md
  web/src/components/RerankerTraining/NeuralVisualizerWebGL2.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGPU.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
  web/src/styles/learning-studio.css
Due: check-banned

Add final branch and verification handoff matrix
  HANDOFF-EPSTEIN-ONLY-PROMPT-LOCK-2026-02-06.md
  TODO.md
Due: none

rebrand: TriBridRAG → ragweld (UI header, tab title, README)
  README.md
  web/index.html
  web/public/ragweld-wordmark.png
  web/src/App.tsx
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
