Repository DMontgomery40/ragweld: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-types, check-banned

validate-types:
  name: Validate TypeScript types match Pydantic
  entry: python scripts/validate_types.py
  language: python
  pass_filenames: false
  stages:
  - commit

check-banned:
  name: Check for banned imports and terms
  entry: python scripts/check_banned.py
  language: python
  pass_filenames: false
  stages:
  - commit

feat: semantic KG recovery + durable index runs @codex
  scripts/generate_types.py
  server/api/index.py
  server/db/neo4j.py
  server/db/postgres.py
  server/models/index.py
  server/models/tribrid_config_model.py
  server/retrieval/fusion.py
  tests/api/test_index_run_replay_endpoints.py
  tests/api/test_metrics_endpoint.py
  tests/unit/test_domain_models.py
  tribrid_config.json
  web/src/components/RAG/GraphSubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/hooks/useGraph.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

fix: ruff import ordering in model exports @codex
  server/models/index.py
Due: validate-types, check-banned

fix: retrieval contract guards, typing cleanup, and CI stabilization @codex
  server/api/chat.py
  server/api/config.py
  server/api/index.py
  server/api/models.py
  server/api/search.py
  server/chat/generation.py
  server/chat/handler.py
  server/db/neo4j.py
  server/indexing/embedder.py
  server/indexing/tokenizer.py
  server/models/tribrid_config_model.py
  server/retrieval/contracts.py
  server/retrieval/errors.py
  server/retrieval/fusion.py
  server/services/answer_service.py
  server/services/rag.py
  tests/api/test_config_endpoints.py
  tests/unit/test_retrieval_contracts.py
  web/src/components/Chat/ChatInterface.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/components/RAG/ModelAssignments.tsx
  web/src/components/RAG/RetrievalSubtab.tsx
  web/src/components/ui/EmbeddingMismatchWarning.tsx
  web/src/hooks/useEmbeddingStatus.ts
Due: validate-types, check-banned

fix: address CI lint/test regressions @codex
  server/api/config.py
  server/api/search.py
  server/indexing/tokenizer.py
  tests/unit/test_tokenizer_truncation.py
  web/src/components/RAG/IndexingSubtab.tsx
Due: check-banned

fix(models): keep latest model families in catalog refresh @codex review
  scripts/refresh_models_catalog.py
  tests/unit/test_refresh_models_catalog.py
Due: check-banned

docs(autopilot): ragweld naming, resilient patch apply, expanded coverage
  docs/exec-plans/active/docs-autopilot-expansion.md
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

feat(indexing): semantic KG cost estimation, stale run recovery, parallelism safety
  .github/workflows/docs-automation.yml
  docs/references/codex-agent-teams.md
  docs/references/index.md
  mkdocs.yml
  scripts/docs_ai/generate_docs_from_diff.py
  server/api/index.py
  server/db/postgres.py
  server/models/tribrid_config_model.py
  tests/api/test_index_batch_parallelism.py
  tests/api/test_index_dashboard_endpoints.py
  tests/api/test_index_run_replay_endpoints.py
  tribrid_config.json
  web/src/components/Analytics/Cost.tsx
  web/src/components/Analytics/CostEstimatorPanel.tsx
  web/src/components/ChunkSummary/ChunkSummaryBuilder.tsx
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/RAG/DataQualitySubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/hooks/useCost.ts
  web/src/services/CostService.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

feat(team-bus): add Codex agent teams orchestration module
  scripts/codex_team.py
  scripts/codex_team_container.sh
  scripts/export_codex_agent_teams_bundle.sh
  scripts/install_codex_agent_teams.sh
  server/team_bus/__init__.py
  server/team_bus/cli.py
  server/team_bus/models.py
  server/team_bus/policy.py
  server/team_bus/relay.py
  server/team_bus/store.py
  server/team_bus/utils.py
  tests/unit/test_team_bus.py
Due: check-banned

fix(types): resolve mypy errors in index.py and team_bus/cli.py
  server/api/index.py
  server/team_bus/cli.py
Due: check-banned

fix: address codex review feedback (P1 team name, P2 model fallback)
  server/api/index.py
  server/team_bus/store.py
Due: check-banned

fix(costs): preserve None for unknown embedding pricing in dashboard
  server/api/index.py
Due: check-banned

feat: semantic KG cost estimation, stale run recovery, team-bus orchestration (#21)
  .github/workflows/docs-automation.yml
  docs/references/codex-agent-teams.md
  docs/references/index.md
  mkdocs.yml
  scripts/codex_team.py
  scripts/codex_team_container.sh
  scripts/docs_ai/generate_docs_from_diff.py
  scripts/export_codex_agent_teams_bundle.sh
  scripts/install_codex_agent_teams.sh
  server/api/index.py
  server/db/postgres.py
  server/models/tribrid_config_model.py
  server/team_bus/__init__.py
  server/team_bus/cli.py
  server/team_bus/models.py
  server/team_bus/policy.py
  server/team_bus/relay.py
  server/team_bus/store.py
  server/team_bus/utils.py
  tests/api/test_index_batch_parallelism.py
  tests/api/test_index_dashboard_endpoints.py
  tests/api/test_index_run_replay_endpoints.py
  tests/unit/test_team_bus.py
  tribrid_config.json
  web/src/components/Analytics/Cost.tsx
  web/src/components/Analytics/CostEstimatorPanel.tsx
  web/src/components/ChunkSummary/ChunkSummaryBuilder.tsx
  web/src/components/Dashboard/IndexDisplayPanels.tsx
  web/src/components/RAG/DataQualitySubtab.tsx
  web/src/components/RAG/IndexingSubtab.tsx
  web/src/hooks/useCost.ts
  web/src/services/CostService.ts
  web/src/types/generated.ts
Due: validate-types, check-banned

Fix timeout/trace/test portability @codex review
  web/src/api/dashboard.ts
  web/src/components/Chat/ChatInterface.tsx
  web/tests/e2e/exhaustive/chat_reliability.spec.ts
Due: check-banned

Address Codex review: trace recency and stream fallback @codex review
  web/src/api/dashboard.ts
  web/src/components/Chat/ChatInterface.tsx
Due: check-banned

feat: position ragweld as MLOps Engineering Platform
  README.md
  mkdocs/docs/index.md
  mkdocs/docs/manual/index.md
  mkdocs/docs/manual/quickstart.md
  scripts/docs_ai/bootstrap_docs.py
  scripts/docs_ai/docs_autopilot_enhanced.py
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
  web/src/App.tsx
  web/src/components/Dashboard/HelpSubtab.tsx
  web/src/components/Dashboard/StorageCalculatorSuite.tsx
Due: check-banned

docs: enforce API-first framing in docs autopilot @codex review
  README.md
  mkdocs.yml
  scripts/docs_ai/docs_autopilot_enhanced.py
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

Upgrade web deps to native non-deprecated stack and update default gen model
  tribrid_config.json
  web/package-lock.json
  web/package.json
  web/src/components/AgentTraining/TrainingStudio.tsx
  web/src/components/DevTools/Editor.tsx
  web/src/components/Evaluation/TraceViewer.tsx
  web/src/components/RerankerTraining/NeuralVisualizerWebGL2.tsx
  web/src/components/RerankerTraining/StudioLogTerminal.tsx
  web/src/components/RerankerTraining/TrainingStudio.tsx
Due: check-banned

docs: add current product screenshots to MkDocs pages @codex review
  mkdocs/docs/assets/images/README.md
  mkdocs/docs/assets/images/chat-and-dataset.png
  mkdocs/docs/assets/images/graph-explorer.png
  mkdocs/docs/assets/images/indexing-guardrails.png
  mkdocs/docs/assets/images/learning-agent-studio.png
  mkdocs/docs/assets/images/learning-agent-visualizer.png
  mkdocs/docs/assets/images/recall-gating.png
  mkdocs/docs/assets/images/routing-api-mcp.png
  mkdocs/docs/index.md
  mkdocs/docs/manual/ui.md
Due: none

docs(autopilot): preserve page structure and guard against destructive rewrites @codex review
  scripts/docs_ai/README.md
  scripts/docs_ai/docs_prompt_base.md
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

fix(docs-autopilot): enforce delete limits across rename diffs @codex review
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

fix(docs-autopilot): validate cursor patch safety and paths @codex review
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

fix(docs-autopilot): use real line counts for cursor delete directives @codex review
  scripts/docs_ai/generate_docs_from_diff.py
Due: check-banned

chore(ui): make API/MCP positioning explicit in app header and README @codex review
  README.md
  web/src/App.tsx
Due: check-banned

Expand glossary references and add DeepSeek parameters
  data/glossary.json
  web/public/glossary.json
Due: none

Refresh README screenshots and remove duplicate image blocks @codex review
  README.md
  assets/chat-and-dataset.png
  assets/dock-chooser.png
  assets/graph-explorer.png
  assets/indexing-guardrails.png
  assets/indexing-settings-with-grafana-on-side.png
  assets/infrastructure-services.png
  assets/learning-agent-run-hud.png
  assets/recall-gating.png
  assets/routing-api-mcp.png
Due: none

chore: set models refresh to 6am local and ignore local scratch files
  .github/workflows/refresh-models-catalog.yml
  .gitignore
Due: none

fix(server): migrate mcp lifecycle hooks to lifespan
  server/main.py
Due: check-banned

fix(server): annotate lifespan return type for mypy
  server/main.py
Due: check-banned

fix(db): decouple control-plane schema from pgvector bootstrap
  server/api/repos.py
  server/db/postgres.py
  server/services/config_store.py
Due: check-banned

fix(postgres): tolerate missing pgvector at startup
  server/db/postgres.py
Due: check-banned

fix(postgres): tolerate missing pgvector at startup (#34)
  server/db/postgres.py
Due: check-banned

fix(server): unwind lifecycle context on startup enter failure
  server/main.py
  tests/unit/test_main_lifecycle.py
Due: check-banned

test: isolate tracked config file between test cases
  tests/api/test_config_endpoints.py
  tests/conftest.py
Due: check-banned

fix(config): detach cached config instances across async callers
  server/services/config_store.py
  tests/unit/test_config_store.py
Due: check-banned

fix(config): detach cached config instances across async callers (#37)
  server/services/config_store.py
  tests/unit/test_config_store.py
Due: check-banned

fix(web): reduce startup load and avoid hidden monitoring fetches
  web/src/components/tabs/RAGTab.tsx
  web/src/config/routes.ts
  web/src/pages/Dashboard.tsx
Due: check-banned

fix(chat): prevent idle-unload task buildup in ragweld mlx
  server/chat/ragweld_mlx.py
  tests/unit/test_ragweld_mlx_lifecycle.py
Due: check-banned

fix(config): serialize per-repo get/save cache updates
  server/services/config_store.py
  tests/unit/test_config_store.py
Due: check-banned

Path conditions:
  validate-types: any of: ^server/models/.*\.py$
  check-banned: any of: \.(py|ts|tsx)$
